@import url("mixins.scss");
/* line 457, ../_sass/main.scss */
.fill-one {
  height: 16.66667%;
}

/* line 461, ../_sass/main.scss */
.fill-two {
  height: 33.33333%;
}

/* line 465, ../_sass/main.scss */
.fill-three {
  height: 50.0%;
}

/* line 469, ../_sass/main.scss */
.fill-four {
  height: 66.66667%;
}

/* line 473, ../_sass/main.scss */
.fill-five {
  height: 83.33333%;
}

/* line 477, ../_sass/main.scss */
.fill-six {
  height: 100.0%;
}

/* line 485, ../_sass/main.scss */
.swatch-one {
  width: 20%;
}

/* line 489, ../_sass/main.scss */
.swatch-two {
  width: 40%;
}

/* line 493, ../_sass/main.scss */
.swatch-three {
  width: 60%;
}

/* line 497, ../_sass/main.scss */
.swatch-four {
  width: 80%;
}

/* line 501, ../_sass/main.scss */
.swatch-five {
  width: 100%;
}

/* line 505, ../_sass/main.scss */
.foundation .swatch-fixed-footer {
  width: 50%;
  bottom: 0;
  opacity: 0.89;
  position: absolute;
  left: 25%;
  height: 25px;
  border: 1px solid #ECECEC;
  border-bottom: none;
  border-radius: 4px 4px 0 0;
  cursor: pointer;
}

/* line 518, ../_sass/main.scss */
.fill-split-left {
  padding-left: 10%;
}

/* line 522, ../_sass/main.scss */
.fill-split-right {
  padding-right: 10%;
}

/* line 526, ../_sass/main.scss */
.fill-one-left {
  padding-left: 20%;
}

/* line 530, ../_sass/main.scss */
.fill-one-right {
  padding-right: 20%;
}

/* line 534, ../_sass/main.scss */
.fill-two-left {
  padding-left: 40%;
}

/* line 538, ../_sass/main.scss */
.fill-two-right {
  padding-right: 40%;
}

/* line 551, ../_sass/main.scss */
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 13.3px;
  font-weight: 300;
  line-height: 1.65em;
  /*  overflow: hidden;*/
}

/* line 561, ../_sass/main.scss */
a {
  color: #45939F;
  text-decoration: none;
}
/* line 564, ../_sass/main.scss */
a:hover {
  color: #db473d;
}

/* line 569, ../_sass/main.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
  letter-spacing: -0.535;
  /*  text-transform: uppercase;*/
}

/* line 575, ../_sass/main.scss */
h1 {
  font-size: 3.77em;
  line-height: 3.55em;
}

/* line 580, ../_sass/main.scss */
h2 {
  font-size: 2.85em;
}

/* line 584, ../_sass/main.scss */
h3 {
  font-size: 1.65em;
}

/* line 588, ../_sass/main.scss */
h4 {
  font-size: 0.85em;
}

/* line 592, ../_sass/main.scss */
ul {
  list-style: none;
  margin: 20px 0 0 1%;
  line-height: 1.75em;
}

/* line 598, ../_sass/main.scss */
a {
  color: #45939F;
  text-decoration: none;
}
/* line 601, ../_sass/main.scss */
a:hover {
  color: #db473d;
}

/* line 606, ../_sass/main.scss */
.dark-form {
  margin: 0;
}
/* line 608, ../_sass/main.scss */
.dark-form label {
  font-family: "museo-sans-rounded", "helvetica neue", "arial";
}
/* line 611, ../_sass/main.scss */
.dark-form input {
  background: rgba(0, 0, 0, 0.77);
  border: 1px solid rgba(0, 0, 0, 0.15);
  font-weight: 100;
  text-transform: uppercase;
  position: relative;
  border-radius: 0 0 .5em .5em;
  width: 35%;
  font-size: 20px;
  top: -4px;
  color: #45939F;
  text-shadow: 0.5px 0.5px #000000;
  font-family: "museo-sans-rounded", "helvetica neue", "arial";
}
/* line 625, ../_sass/main.scss */
.dark-form button {
  background-color: #55b55c;
  background-image: linear-gradient(to bottom, #55b55c, #266b19);
  border: 1px solid rgba(42, 42, 42, 0.81);
  position: relative;
  border-radius: 0 0 15px 0;
  font-weight: 400;
  width: 7%;
  min-width: 40px;
  height: 3.5em;
  right: 6px;
  top: -2px;
  color: #d0d0d0;
  text-shadow: 0.5px 0.5px #000000;
  font-family: "museo-sans-rounded", "helvetica neue", "arial";
}

/* line 643, ../_sass/main.scss */
.foundation {
  height: 100%;
  width: 100%;
  color: #fff;
  text-shadow: 0.5px 0.5px #ffffff;
  background-color: #222222;
  background-image: -webkit-linear-gradient(top, #222222, #313131);
  background-image: linear-gradient(to bottom, #222222, #313131);
  font-family: "museo-sans-rounded", "helvetica neue", "arial";
}
/* line 650, ../_sass/main.scss */
.foundation section {
  float: left;
}
/* line 652, ../_sass/main.scss */
.foundation section.boundary {
  background-color: #d0d0d0;
  left: 1px;
  bottom: 1px;
}
/* line 656, ../_sass/main.scss */
.foundation section.boundary p {
  font-size: 1em;
}
/* line 659, ../_sass/main.scss */
.foundation section.boundary h1, .foundation section.boundary h2 {
  text-shadow: 0.5px 0.5px #000000;
}
/* line 663, ../_sass/main.scss */
.foundation section.boundary form .text-box {
  width: 55%;
  height: 25px;
  padding: 2px 8px;
  margin: 0 0 2%;
  font-size: 13px;
  border-radius: 4px;
  border: 1px solid #FFFFFF;
  background-color: #e0e0e0;
  background-image: -webkit-linear-gradient(top, #e0e0e0, #f5f5f5);
  background-image: linear-gradient(to bottom, #e0e0e0, #f5f5f5);
}
/* line 228, ../_sass/main.scss */
.foundation section.boundary form .text-box.small-field {
  width: 20%;
}
/* line 231, ../_sass/main.scss */
.foundation section.boundary form .text-box.large-field {
  width: 75%;
}
/* line 666, ../_sass/main.scss */
.foundation section.boundary form .form-label {
  color: #000;
  margin: 2% 1% 1%;
  font-weight: 600;
}
/* line 240, ../_sass/main.scss */
.foundation section.boundary form .form-label.sign-in {
  color: #ffffff;
  text-shadow: 0.5px 0.5px #4F4F4F;
}
/* line 670, ../_sass/main.scss */
.foundation section.boundary .swatch-four.line-two {
  background-color: #232323;
  margin: 3% 5%;
  padding: 2%;
  border-radius: 6px;
  box-sizing: border-box;
}
/* line 280, ../_sass/main.scss */
.foundation section.boundary .swatch-four.line-two:hover {
  background-color: black;
  -webkit-transition: all 0.6s ease-in;
  transition: all 0.6s ease-in;
  cursor: pointer;
}
/* line 211, ../_sass/main.scss */
.foundation section.boundary .swatch-four.line-two.brand {
  background-color: #5cb85c;
  border: 1px solid transparent;
}
/* line 673, ../_sass/main.scss */
.foundation section.boundary .swatch-four.line-two button {
  padding: 5px 15px;
}
/* line 678, ../_sass/main.scss */
.foundation section.id {
  background-repeat: no-repeat;
  background-size: 300% auto;
  background-position: 33% 20%;
}
/* line 679, ../_sass/main.scss */
.foundation section.id h1, .foundation section.id h2 {
  color: #ffffff;
  text-shadow: 0.5px 0.5px #000000;
}
/* line 685, ../_sass/main.scss */
.foundation section.id .shade h1 {
  line-height: 1em;
}
/* line 688, ../_sass/main.scss */
.foundation section.id .shade h3 {
  text-shadow: 0.5px 0.5px #000000;
  font-weight: 600;
}
/* line 695, ../_sass/main.scss */
.foundation section.user .sign-in {
  background-color: #222222;
  background-image: -webkit-linear-gradient(top, #222222, #313131);
  background-image: linear-gradient(to bottom, #222222, #313131);
  color: #dedede;
  text-shadow: 0.5px 0.5px #000000;
  padding-top: 0;
  margin-top: 0;
  cursor: pointer;
  width: 100%;
  padding: 15px 0;
}
/* line 701, ../_sass/main.scss */
.foundation section.user .sign-in:hover {
  background-color: #757575;
  color: #3b3b3b;
  text-shadow: 0.5px 0.5px #ffffff;
}
/* line 280, ../_sass/main.scss */
.foundation section.user .sign-in:hover:hover {
  background-color: black;
  -webkit-transition: all 0.6s ease-in;
  transition: all 0.6s ease-in;
  cursor: pointer;
}
/* line 710, ../_sass/main.scss */
.foundation section.user .sign-up {
  background-color: #f53b2e;
  color: #dedede;
  text-shadow: 0.5px 0.5px #000000;
  margin-top: 0;
  padding: 18px;
  cursor: pointer;
}
/* line 717, ../_sass/main.scss */
.foundation section.user .sign-up .headline-footer {
  background-color: #45939F;
}
/* line 280, ../_sass/main.scss */
.foundation section.user .sign-up .headline-footer:hover {
  background-color: black;
  -webkit-transition: all 0.6s ease-in;
  transition: all 0.6s ease-in;
  cursor: pointer;
}
/* line 720, ../_sass/main.scss */
.foundation section.user .sign-up:hover {
  background-color: #d0d0d0;
  color: #3b3b3b;
  text-shadow: 0.5px 0.5px #ffffff;
}
/* line 728, ../_sass/main.scss */
.foundation section.hero {
  background-color: #757575;
  color: #dedede;
  text-shadow: 0.5px 0.5px #000000;
}
/* line 280, ../_sass/main.scss */
.foundation section.hero:hover {
  background-color: black;
  -webkit-transition: all 0.6s ease-in;
  transition: all 0.6s ease-in;
  cursor: pointer;
}
/* line 732, ../_sass/main.scss */
.foundation section.hero img {
  box-shadow: inset 0 0 40px 20px #202020;
  padding-top: 0;
  border-radius: 7px;
  border: 1px solid #555;
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.07);
}
/* line 739, ../_sass/main.scss */
.foundation section.hero p {
  font-weight: 200;
}
/* line 742, ../_sass/main.scss */
.foundation section.hero ul {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 1%;
  min-height: 16.666%;
}
/* line 748, ../_sass/main.scss */
.foundation section.hero ul li {
  float: left;
  color: #757575;
  padding-top: 20px;
  text-shadow: none;
  opacity: 0.25;
}
/* line 754, ../_sass/main.scss */
.foundation section.hero ul li i {
  font-size: 1.95em;
  cursor: pointer;
}
/* line 758, ../_sass/main.scss */
.foundation section.hero ul li:hover {
  color: #3b3b3b;
  opacity: 1.0;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  -webkit-transform: matrix(1.606, 0, 0, 1.492, 0, 0);
  -moz-transform: matrix(1.606, 0, 0, 1.492, 0px, 0px);
  -ms-transform: matrix(1.606, 0, 0, 1.492, 0, 0);
  -o-transform: matrix(1.606, 0, 0, 1.492, 0, 0);
  transform: matrix(1.606, 0, 0, 1.492, 0, 0);
}

/* line 772, ../_sass/main.scss */
.grab-left {
  float: left;
}

/* line 776, ../_sass/main.scss */
.fill {
  box-sizing: border-box;
  margin: 0 5% 0 5%;
  padding: 2% 0 2% 0;
  line-height: 1.5em;
}

/* line 780, ../_sass/main.scss */
.core {
  border: 1px solid #ffffff;
  color: #272727;
  text-shadow: 0.5px 0.5px #F5F5F5;
  background-image: linear-gradient(to bottom, #CCCCCC, #f5f5f5);
  background-image: -webkit-linear-gradient(top, #CCCCCC, #f5f5f5);
  border-radius: 2px;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}

/* line 784, ../_sass/main.scss */
.center {
  text-align: center;
}

/* line 788, ../_sass/main.scss */
.left {
  text-align: left;
}

/* line 792, ../_sass/main.scss */
.right {
  text-align: right;
}

/* line 798, ../_sass/main.scss */
.base-padding {
  padding: 15px;
}

/* line 802, ../_sass/main.scss */
.common-padding {
  padding: 20px;
}

/* line 806, ../_sass/main.scss */
.great-padding {
  padding: 35px;
}

/* line 810, ../_sass/main.scss */
.hero-padding {
  padding: 5%;
}

/* line 814, ../_sass/main.scss */
.clear-top {
  padding-top: 0;
}

/* line 820, ../_sass/main.scss */
.base-margin {
  margin: 15px;
}

/* line 824, ../_sass/main.scss */
.floor-margin {
  margin: 20px;
}

/* line 828, ../_sass/main.scss */
.great-margin {
  margin: 35px;
}

/* line 834, ../_sass/main.scss */
.bg-dark {
  background-color: #081f02;
}

/* line 838, ../_sass/main.scss */
.bg-brand {
  background-color: #45939F;
}
/* line 280, ../_sass/main.scss */
.bg-brand:hover {
  background-color: black;
  -webkit-transition: all 0.6s ease-in;
  transition: all 0.6s ease-in;
  cursor: pointer;
}

/* line 842, ../_sass/main.scss */
.bg-light {
  background-color: #dedede;
}
/* line 280, ../_sass/main.scss */
.bg-light:hover {
  background-color: #1f1f1f;
  -webkit-transition: all 0.6s ease-in;
  transition: all 0.6s ease-in;
  cursor: pointer;
}

/* line 846, ../_sass/main.scss */
.bg-mid {
  background-color: #757575;
}
/* line 280, ../_sass/main.scss */
.bg-mid:hover {
  background-color: black;
  -webkit-transition: all 0.6s ease-in;
  transition: all 0.6s ease-in;
  cursor: pointer;
}

/* line 850, ../_sass/main.scss */
.bg-chrome {
  background-color: #d0d0d0;
}

/* line 854, ../_sass/main.scss */
.bg-action {
  background-color: #f53b2e;
}

/* line 858, ../_sass/main.scss */
.bg-rust {
  background-color: #db473d;
}

/* line 862, ../_sass/main.scss */
.bg-chrome-dark {
  background-color: #757575;
}

/* line 866, ../_sass/main.scss */
.simple-shade {
  box-shadow: -5px 15px 85px 10px rgba(54, 54, 54, 0.67);
}

/* line 872, ../_sass/main.scss */
.font-dark {
  color: #232323;
}

/* line 876, ../_sass/main.scss */
.font-brand {
  color: #45939F;
}

/* line 880, ../_sass/main.scss */
.font-light {
  color: #dedede;
}

/* line 884, ../_sass/main.scss */
.font-mid {
  color: #757575;
}

/* line 888, ../_sass/main.scss */
.font-chrome {
  color: #d0d0d0;
}

/* line 892, ../_sass/main.scss */
.font-action {
  color: #f53b2e;
}

/* line 896, ../_sass/main.scss */
.font-chrome-dark {
  color: #757575;
}

/* line 900, ../_sass/main.scss */
.font-rust {
  color: #db473d;
}

/* line 904, ../_sass/main.scss */
.font-carbon {
  color: #3b3b3b;
}

/* line 908, ../_sass/main.scss */
.core-reset {
  background-color: #232323;
}

/* line 914, ../_sass/main.scss */
.text-light {
  text-shadow: 0.5px 0.5px #000000;
}

/* line 918, ../_sass/main.scss */
.text-mid {
  text-shadow: 0.5px 0.5px #cccccc;
}

/* line 922, ../_sass/main.scss */
.text-dark {
  text-shadow: 0.5px 0.5px #ffffff;
}

/* line 926, ../_sass/main.scss */
.grey-text {
  text-shadow: 0.5px 0.5px #464646;
}

/* line 928, ../_sass/main.scss */
.edge {
  margin: 3% 0 3% 0;
  padding: 0 5% 0 5%;
}

/* line 930, ../_sass/main.scss */
.dark-edge {
  background-color: #343434;
  background-image: linear-gradient(to bottom, white, rgba(233, 233, 233, 0.57));
  border: 1px solid rgba(98, 98, 98, 0.75);
  position: relative;
  color: #3b3b3b;
  text-shadow: 0.5px 0.5px #000000;
  font-family: "museo-sans-rounded", "helvetica neue", "arial";
}
/* line 24, ../_sass/main.scss */
.dark-edge input {
  color: #db473d;
}

/* line 932, ../_sass/main.scss */
.right-shade {
  box-shadow: 30px 45px 55px 10px rgba(0, 0, 0, 0.27);
}

/* line 934, ../_sass/main.scss */
.ll-ogo {
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 5;
}

/* line 939, ../_sass/main.scss */
.ll-ogo-o {
  color: #db473d;
}

/* line 943, ../_sass/main.scss */
.sass-pack {
  text-shadow: 1px 1px #B75438;
  font-size: 1em;
  letter-spacing: normal;
}

/* line 947, ../_sass/main.scss */
.brand-pack {
  text-shadow: 1px 1px #4C925D;
  text-transform: none;
  font-size: 1em;
  letter-spacing: normal;
}

/* line 951, ../_sass/main.scss */
.angular-pack {
  background-color: #45939F;
  text-shadow: 1px 1px #45939F;
  text-transform: none;
  padding: 1.15em;
  font-size: 1em;
  line-height: 1.75em;
  letter-spacing: normal;
}

/* line 955, ../_sass/main.scss */
.tag {
  border: 1px solid rgba(222, 222, 222, 0.17);
  margin-left: -1px;
  margin-right: -1px;
  margin-top: -1px;
  margin-bottom: -1px;
  position: relative;
  line-height: 2.77em;
}
/* line 37, ../_sass/main.scss */
.tag.carbon {
  border-bottom: 1px solid rgba(72, 72, 72, 0.39);
}
/* line 39, ../_sass/main.scss */
.tag.carbon p {
  font-size: 12px;
}
/* line 43, ../_sass/main.scss */
.tag.brand {
  border-bottom: 1px solid #fff;
  color: #45939F;
}
/* line 47, ../_sass/main.scss */
.tag.chrome {
  border-bottom: 1px solid #cecece;
}
/* line 50, ../_sass/main.scss */
.tag.mid {
  border-bottom: 1px solid #666;
}
/* line 56, ../_sass/main.scss */
.tag.black {
  border-bottom: 1px solid #000;
}
/* line 59, ../_sass/main.scss */
.tag.action {
  border-bottom: 1px solid #CB2F24;
}

/* line 959, ../_sass/main.scss */
.set-tag {
  border: 1px solid rgba(222, 222, 222, 0.17);
  margin-left: -1px;
  margin-right: -1px;
  margin-top: -1px;
  margin-bottom: -1px;
  position: relative;
  line-height: 2.77em;
}
/* line 37, ../_sass/main.scss */
.set-tag.carbon {
  border-bottom: 1px solid rgba(72, 72, 72, 0.39);
}
/* line 39, ../_sass/main.scss */
.set-tag.carbon p {
  font-size: 12px;
}
/* line 43, ../_sass/main.scss */
.set-tag.brand {
  border-bottom: 1px solid #fff;
  color: #45939F;
}
/* line 47, ../_sass/main.scss */
.set-tag.chrome {
  border-bottom: 1px solid #cecece;
}
/* line 50, ../_sass/main.scss */
.set-tag.mid {
  border-bottom: 1px solid #666;
}
/* line 56, ../_sass/main.scss */
.set-tag.black {
  border-bottom: 1px solid #000;
}
/* line 59, ../_sass/main.scss */
.set-tag.action {
  border-bottom: 1px solid #CB2F24;
}

/* line 963, ../_sass/main.scss */
.swipe-height {
  line-height: normal;
  padding: 10%;
}
