@import url(http://fonts.googleapis.com/css?family=Maven+Pro:400,500,700|Oxygen:400,300,700|Montserrat:400,700);
@import url(../bower_components/pure/pure-min.css);
@import url("mixins.css");
/* line 7, ../_sass/main.scss */
menu, ol, ul {
  border: 1px solid #f4f4f4;
  background: rgba(223, 223, 223, 0.26);
  margin: 1em 0;
  padding: 1em 2em;
  box-shadow: 0 0 25px 10px rgba(210, 210, 210, 0);
}
/* line 13, ../_sass/main.scss */
menu.footer-list, ol.footer-list, ul.footer-list {
  border: none;
  background: transparent;
  margin: 1em 0;
  padding: 1em 2em;
  box-shadow: none;
  text-shadow: 1px 1px white;
}
/* line 21, ../_sass/main.scss */
menu.pure-data-list, ol.pure-data-list, ul.pure-data-list {
  float: left;
  clear: both;
  margin-top: 35px;
  margin-left: 3%;
  padding-left: 0;
  width: 95%;
  border-left: 1px solid #cccccc;
  background: #cccccc;
  list-style: none;
}

/* line 34, ../_sass/main.scss */
dl {
  margin: 0;
  padding: 0;
}

/* line 39, ../_sass/main.scss */
dt {
  background: #cccccc;
  padding: .5em;
  border-bottom: 1px solid #e6e6e6;
  color: black;
  font-weight: 700;
}

/* line 47, ../_sass/main.scss */
dd {
  margin: 0 0 0 0;
  background: rgba(221, 221, 221, 0.33);
  padding: 10px 0 10px 40px;
}

/* line 53, ../_sass/main.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 59, ../_sass/main.scss */
a {
  color: #f53217;
  text-decoration: none;
}
/* line 62, ../_sass/main.scss */
a:hover, a:focus {
  color: #da5230;
  text-decoration: none;
}

/* line 68, ../_sass/main.scss */
.pure-service-list {
  padding: 0 35px;
  width: 100%;
}

/*a.pure-data-service {
  float: left;
  margin: 0 0 -1px 0;
  padding: 15px;
  max-width: 100%;
  width: 25%;
  height: 100px;
  border: 1px solid;
  border-top-color: rgb(218, 218, 218);
  border-right-color: rgb(228, 228, 228);
  border-bottom-color: rgb(211, 211, 211);
  border-left-color: rgb(255, 255, 255);
  background: rgb(247, 247, 247);
  background-color: rgb(254, 254, 254);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(254, 254, 254)), to(rgb(230, 230, 230)));
  background-image: -webkit-linear-gradient(top, rgb(254, 254, 254), rgb(230, 230, 230));
  background-image: -moz-linear-gradient(top, #fefefe, #e6e6e6);
  background-image: -o-linear-gradient(top, #fefefe, #e6e6e6);
  background-image: linear-gradient(to bottom, rgb(254, 254, 254), rgb(230, 230, 230));
  color: rgb(255, 42, 2);
  text-shadow: 1px 1px rgb(255, 255, 255);
  &:hover {
    min-height: 298px;
    max-height: 298px;
    border: 1px solid rgb(10, 24, 32);
    border-bottom-color: rgb(97, 119, 129);
    background: rgb(44, 65, 80);
    box-shadow: none;
    color: rgb(255, 255, 255);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  li {
    position: relative;
    top: 20%;
    left: 0%;
    text-align: center;
    text-shadow: 1px 1px rgb(255, 255, 255);
    font-weight: 700;
    font-size: .95em;
    font-family: "Oxygen";
    line-height: 1.25em;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  &:hover li {
    top: 3%;
    text-align: left;
    text-shadow: 1px 1px rgb(0, 0, 0);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    &.data-hidden-service {
      display: block;
      color: rgb(236, 236, 236);
      text-shadow: 1px 1px rgb(0, 0, 0);
      font-weight: 100;
      font-size: .75em;
      -webkit-transition: all 0.2s ease-in;
      -moz-transition: all 0.2s ease-in;
      -ms-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in;
    }
  }
}*/
/* line 148, ../_sass/main.scss */
.data-hidden-service {
  display: none;
  color: white;
  font-size: .75em;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

/* line 160, ../_sass/main.scss */
.pure-hybrid .data-hidden-service p {
  color: #beccd5;
  font-size: 1em;
  line-height: 1.2em;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
/* line 170, ../_sass/main.scss */
.pure-hybrid .content {
  padding: 0;
}

/* line 175, ../_sass/main.scss */
.grey-scale {
  -webkit-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}

/* line 183, ../_sass/main.scss */
.ghost {
  opacity: 0.15;
}

/* line 188, ../_sass/main.scss */
.pure-hybrid a.pure-button-primary {
  color: white;
  text-transform: lowercase;
  text-shadow: 1px 1px #858585;
}
/* line 195, ../_sass/main.scss */
.pure-hybrid #menu .pure-menu ul, .pure-hybrid #menu .pure-menu .menu-item-divided {
  border-top: 1px solid #545454;
}
/* line 199, ../_sass/main.scss */
.pure-hybrid #menu .pure-menu-selected, .pure-hybrid #menu .pure-menu-heading {
  background: rgba(7, 17, 26, 0.8);
}

/* line 205, ../_sass/main.scss */
.pure-menu .pure-menu-heading {
  color: white;
  text-transform: uppercase;
  font-size: 90%;
  margin-top: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #d7d7d7;
  background: rgba(235, 50, 20, 0.95);
  width: 100%;
  text-shadow: 1px 1px #b9341c;
}

/* line 218, ../_sass/main.scss */
.pure-hybrid #menu a.pure-menu-heading {
  margin: 0;
  margin-left: 0;
  background-color: #000;
  color: rgba(102, 102, 102, 0.54);
  text-shadow: 1px 1px #000000;
  font-weight: 700;
  font-size: 1.25em;
  font-family: Montserrat;
  letter-spacing: .2em;
}

/* line 230, ../_sass/main.scss */
.grid-label {
  color: #000;
  font-weight: 700;
  text-shadow: 1px 1px rgba(222, 220, 220, 0.7);
}

/* line 236, ../_sass/main.scss */
.pure-hybrid #menu a {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  font-size: 1.15em;
}
/* line 240, ../_sass/main.scss */
.pure-hybrid #menu a:hover {
  background: #f8f7f7;
  color: #f71d09;
  text-shadow: 1px 1px white;
  font-size: 1.15em;
}
/* line 246, ../_sass/main.scss */
.pure-hybrid #menu a.active {
  background: rgba(7, 17, 26, 0.8);
  color: #E2E2E2;
  border-bottom: 1px solid rgba(254, 254, 254, 0);
  border-top: 1px solid rgba(101, 101, 101, 0);
  font-size: 1.15em;
  line-height: 1.35em;
  text-shadow: 1px 1px black;
}

/* line 257, ../_sass/main.scss */
#layout.full-width {
  padding-left: 0;
}

/* line 261, ../_sass/main.scss */
.hybrid-combo-article.full-width {
  margin-left: 0;
  width: 100%;
}

/* line 266, ../_sass/main.scss */
#menu ul li a {
  font-weight: 400;
  font-family: "Montserrat";
}

/* line 271, ../_sass/main.scss */
.pure-hybrid #menu {
  border-right: 1px solid #ebebeb;
  background: #ebebeb;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.68);
}
/* line 275, ../_sass/main.scss */
.pure-hybrid #menu a {
  color: #bbbbbb;
  text-shadow: 1px 1px white;
}

/* line 281, ../_sass/main.scss */
footer.active-toggle .footer-toggle-control {
  bottom: 100%;
}

/* line 285, ../_sass/main.scss */
.footer-toggle-control {
  position: absolute;
  bottom: 95%;
  left: 0;
  width: 80%;
  cursor: pointer;
}
/* line 291, ../_sass/main.scss */
.footer-toggle-control h3 {
  color: white;
}

/* line 296, ../_sass/main.scss */
#menu a:hover {
  background: #333333;
  color: #575757;
  text-shadow: 1px 1px black;
}

/* line 302, ../_sass/main.scss */
.pure-menu li {
  position: relative;
  border-top: 1px transparent;
  text-transform: uppercase;
  font-size: .8em;
}

/* line 311, ../_sass/main.scss */
.pure-hybrid #menu .pure-menu li a:hover, .pure-hybrid #menu .pure-menu li a:focus {
  background: white;
  color: #f53217;
  text-shadow: 1px 1px white;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  box-shadow: inset 0 15px 25px #dbdbdb;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #e4e4e4;
  font-size: 1.15em;
}
/* line 326, ../_sass/main.scss */
.pure-hybrid .splash-container {
  background: #929FAC;
  border-bottom: 20px solid #F4F4F4;
  box-shadow: 0 0 50px 20px #cecece;
  color: rgba(255, 255, 255, 0.51);
  font-size: .85em;
  text-shadow: 1px 1px rgba(55, 108, 128, 0.05);
}

/* line 336, ../_sass/main.scss */
h1, h2, h3, h4, h5 {
  font-weight: 100;
  font-family: "Montserrat";
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/* line 343, ../_sass/main.scss */
h1 {
  font-size: 2.35em;
}

/* line 347, ../_sass/main.scss */
h2 {
  font-size: 1.75em;
  margin: 1.45em 0;
  color: #f53217;
  line-height: 2.2em;
  font-family: "Oxygen";
}

/* line 355, ../_sass/main.scss */
h3 {
  font-size: 1.35em;
  font-family: "Oxygen";
  font-weight: 100;
  margin: 1.45em 0;
}

/* line 362, ../_sass/main.scss */
h4 {
  font-size: 1.15em;
  margin: 1.45em 0;
}

/* line 367, ../_sass/main.scss */
h5 {
  font-size: 1em;
  margin: 1.45em 0;
}

/* line 373, ../_sass/main.scss */
.pure-hybrid h1 {
  font-weight: 900;
  color: #000;
  font-family: "Oxygen";
  letter-spacing: .1em;
  font-size: 2.85em;
}
/* line 392, ../_sass/main.scss */
.pure-hybrid .content-head {
  margin: 1.5em auto 1em;
  text-transform: uppercase;
  letter-spacing: 0.45em;
  font-weight: 700;
  line-height: 2.25em;
  font-size: 2em;
  color: #eb3710;
  text-shadow: 1px 1px white;
}

/* line 405, ../_sass/main.scss */
h2.post-title, h2.page-title {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 1.57em;
}
/* line 410, ../_sass/main.scss */
h2.post-title a {
  color: #f53217;
  text-decoration: none;
}
/* line 413, ../_sass/main.scss */
h2.post-title a:hover, h2.post-title a:focus {
  color: #da5230;
  text-decoration: none;
}

/* line 420, ../_sass/main.scss */
kbd, pre, samp {
  font-size: 1em;
  color: #F01029;
  margin: 3em 0;
  background: rgba(240, 240, 240, 0.5);
  padding: 1em 2em;
  border-radius: 3px;
  border: 1px solid rgba(226, 226, 226, 0.58);
}

/* line 430, ../_sass/main.scss */
code {
  font-family: "Consolas";
  font-size: 1em;
  line-height: 1.35em;
  text-shadow: 1px 1px #FFFFFF;
}

/* line 439, ../_sass/main.scss */
.hybrid-page {
  margin: 0 auto;
  padding: 46px 0 35px 15px;
}

/* line 445, ../_sass/main.scss */
.pure-hybrid h1.content-subhead {
  margin: 1.75em auto 1em;
  color: #34495e;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 700;
  line-height: 1.1em;
  transition-property: bottom;
  transition-duration: 0.3s;
  transition-timing-function: initial;
  transition-delay: initial;
}
/* line 457, ../_sass/main.scss */
.pure-hybrid h3.content-subhead {
  margin: 20px 0;
  color: #868686;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.55em;
}
/* line 464, ../_sass/main.scss */
.pure-hybrid h2.content-head {
  color: #464646;
}

/* line 469, ../_sass/main.scss */
h1.content-subhead {
  margin: 2em 0 1em;
  color: #353535;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 400;
}

/* line 477, ../_sass/main.scss */
.hybrid-combo-article {
  padding: 0;
  width: 90%;
  margin-left: 10%;
}
/* line 481, ../_sass/main.scss */
.hybrid-combo-article .content {
  position: relative;
}
/* line 484, ../_sass/main.scss */
.hybrid-combo-article a {
  font-weight: 700;
  font-size: 1.27em;
  font-family: "Oxygen";
}
/* line 489, ../_sass/main.scss */
.hybrid-combo-article .post-title, .hybrid-combo-article .page-title {
  margin-top: 10px;
  color: #f14109;
  text-shadow: 1px 1px white;
  letter-spacing: 0.1em;
  font-size: 1.57em;
}

/* line 499, ../_sass/main.scss */
.pure-menu.pure-menu-open, .pure-menu.pure-menu-horizontal li .pure-menu-children {
  background: white;
  border: 1px solid #f0f0f0;
}

/* line 505, ../_sass/main.scss */
.posts .content {
  top: 95%;
}

/* line 509, ../_sass/main.scss */
.post-description a {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1em;
  font-family: "Oxygen";
  color: #171717;
}

/* line 517, ../_sass/main.scss */
.post-description h1 i {
  color: #e92410;
}

/* line 521, ../_sass/main.scss */
.l-box a {
  display: inline-block;
  margin-top: 1.51em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9em;
}

/* line 529, ../_sass/main.scss */
.teaser-more {
  color: #D53030;
  font-size: 3.5em;
  -webkit-transition: opacity 2.0s ease-in;
  -moz-transition: opacity 2.0s ease-in;
  -o-transition: opacity 2.0s ease-in;
  opacity: 1;
}

/* line 538, ../_sass/main.scss */
.pure-g .l-box {
  text-align: center;
}

/* line 543, ../_sass/main.scss */
#layout .menu-link {
  background: #f53217;
  color: black;
  padding: 18px 5px;
  width: 35px;
}
/* line 546, ../_sass/main.scss */
#layout .menu-link:hover {
  background: black;
}
/* line 549, ../_sass/main.scss */
#layout .menu-link span {
  color: black;
}
/* line 551, ../_sass/main.scss */
#layout .menu-link span:hover {
  color: #f53217;
}
/* line 558, ../_sass/main.scss */
#layout.pure-hybrid {
  position: inherit;
  letter-spacing: 0;
}
/* line 559, ../_sass/main.scss */
#layout.pure-hybrid #menu {
  width: 20%;
}

/* line 567, ../_sass/main.scss */
.content {
  position: absolute;
  top: 60%;
  left: 0;
  margin: 0 auto;
  margin-bottom: 50px;
  width: 100%;
  background: white;
  line-height: 1.6em;
}

/* line 578, ../_sass/main.scss */
.active-menu-flag {
  top: -11px;
}

/* line 582, ../_sass/main.scss */
.pure-hybrid .splash {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 80%;
  height: 50%;
  text-align: center;
  text-transform: uppercase;
}

/* line 595, ../_sass/main.scss */
.splash .fa.fa-twitter {
  padding-left: 10px;
  color: #1c9ac2;
  font-size: 1.11em;
}

/* line 601, ../_sass/main.scss */
.splash-container.splash-combo-respond {
  left: 20%;
  margin: 0 auto;
  padding: 0;
  width: 80%;
  height: 65%;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
/* line 612, ../_sass/main.scss */
.splash-container.splash-combo-respond .splash-head {
  margin: 0 auto;
  padding: .25em .55em;
  width: 100%;
  height: auto;
  border: 1px solid #384049;
  border-bottom: 20px solid #244453;
  border-radius: 0;
  background: rgba(7, 17, 26, 0.8);
  box-shadow: inset 0 10px 35px black;
  text-shadow: 1px 1px #0b2b47;
  font-size: 4em;
  line-height: 3.25em;
  color: white;
  letter-spacing: .35em;
}

/* line 630, ../_sass/main.scss */
h2.splash-subhead {
  font-family: "Oxygen";
  font-weight: 100;
  color: rgba(22, 70, 87, 0.85);
  font-size: 1.85em;
}

/* line 637, ../_sass/main.scss */
.splash-container.splash-combo-respond.active {
  height: 26%;
}

/* line 641, ../_sass/main.scss */
.splash-combo-respond .splash {
  width: 100%;
  height: 100%;
}

/* line 646, ../_sass/main.scss */
.list-label {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.75);
}

/* line 651, ../_sass/main.scss */
.pure-hybrid .pure-form input[type] {
  margin-bottom: 1em;
  width: 100%;
  border: 1px solid #dddddd;
  box-shadow: none;
  font-size: 100%;
  font-family: "Oxygen";
}

/* line 660, ../_sass/main.scss */
.pure-hybrid .pure-form legend {
  display: block;
  width: 90%;
  margin-bottom: .3em;
  color: #595959;
  border: 1px solid rgba(214, 214, 214, 0.33);
  background: rgba(229, 229, 229, 0.5);
  padding: .3em .3em .3em 1em;
  font-weight: 100;
  border-radius: 4px;
  font-family: "Oxygen";
}

/* line 673, ../_sass/main.scss */
.pure-hybrid .pure-form input[type]:active {
  border: 1px solid rgba(24, 221, 135, 0.83);
  font-family: "Oxygen";
}

/* line 678, ../_sass/main.scss */
.pure-hybrid .pure-form label {
  margin: 1em 0 0;
  font-weight: bold;
  font-family: "Oxygen";
  font-size: 100%;
  text-transform: uppercase;
  color: #797979;
}

/* line 688, ../_sass/main.scss */
.fa.fa-chevron-circle-right.teaser-more {
  font-size: .9em;
}

/* line 692, ../_sass/main.scss */
#layout.pure-hybrid .content .content-wrapper {
  position: absolute;
  top: 80%;
  left: 20%;
  z-index: 2;
  min-height: 50%;
  width: 80%;
  background: white;
  overflow: hidden;
}

/* line 703, ../_sass/main.scss */
.hybrid-no-left-panel {
  position: fixed;
  top: 45%;
  left: 20.1%;
  z-index: 100;
  margin-left: -40px;
  padding: 1px 10px;
  width: 100px;
  height: 26px;
  border-radius: 4px 4px 0 0;
  background: rgba(234, 16, 16, 0.9);
  box-shadow: 2px 0px 30px rgba(0, 0, 0, 0.17);
  color: #f12d08;
  text-align: center;
  text-transform: uppercase;
  font-family: "Oxygen";
  cursor: pointer;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  opacity: .90;
  border-bottom: 1px solid #dfdfdf;
}
/* line 725, ../_sass/main.scss */
.hybrid-no-left-panel:hover {
  background: #000102;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

/* line 735, ../_sass/main.scss */
.pure-hybrid .pure-menu.pure-menu-open.pure-menu-fixed {
  z-index: 4;
  border-bottom: none;
  left: 20%;
  background: #f3f3f3;
}

/* line 742, ../_sass/main.scss */
#layout.pure-hybrid #menu.combo-respond-left.combo-hide, .splash-combo-respond.combo-hide {
  left: -20%;
}

/* line 746, ../_sass/main.scss */
.splash-container.splash-combo-respond.combo-show, #layout.pure-hybrid .content .content-wrapper.combo-show {
  left: 0;
  width: 100%;
}

/* line 751, ../_sass/main.scss */
.pin {
  left: 0;
}

/* line 755, ../_sass/main.scss */
.content-wrapper.full-width {
  width: 100%;
  left: 0;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

/* line 765, ../_sass/main.scss */
.content-wrapper .pure-g {
  padding-right: 30px;
}

/* line 769, ../_sass/main.scss */
.pure-g-power a {
  margin-top: 55px;
  width: 100%;
}

/* line 774, ../_sass/main.scss */
.pure-g.pure-g-power {
  float: left;
  clear: both;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

/* line 782, ../_sass/main.scss */
h1.power {
  margin: 0 auto;
  padding: 10px;
  width: 100%;
  border-radius: 4px 4px 0 0;
  background: white;
  box-shadow: inset 0 14px 15px #f3f3f3;
  color: #bbbbbb;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px white;
  letter-spacing: .1em;
  font-weight: 500;
  font-size: 1.1em;
  font-family: "Montserrat";
  line-height: 1.75;
}

/* line 800, ../_sass/main.scss */
.pure-power-list {
  display: table;
  margin-top: 0px;
  margin-left: 0;
  padding-left: 0;
  width: 100%;
  height: 225px;
  background: #f7f7f7;
  background-color: #fefefe;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #fefefe, #e6e6e6);
  background-image: -moz-linear-gradient(top, #fefefe, #e6e6e6);
  background-image: -o-linear-gradient(top, #fefefe, #e6e6e6);
  background-image: linear-gradient(to bottom, #f0f0f0, white);
  list-style: none;
}
/* line 815, ../_sass/main.scss */
.pure-power-list li {
  position: relative;
  display: table-cell;
  padding-right: 10%;
  text-align: center;
}

/* line 823, ../_sass/main.scss */
.power-image img {
  position: absolute;
  top: 40%;
  padding-right: 0;
  width: 100px;
  vertical-align: middle;
  image-rendering: auto;
}
/* line 830, ../_sass/main.scss */
.power-image img:hover {
  opacity: 1.0;
  -webkit-filter: grayscale(0);
  -ms-filter: grayscale(0);
  filter: grayscale(0);
  -moz-filter: grayscale(0);
  -o-filter: grayscale(0);
}

/* line 841, ../_sass/main.scss */
.grey-scale.ghost.img-git, .grey-scale.ghost.img-bower {
  top: 25%;
}
/* line 844, ../_sass/main.scss */
.grey-scale.ghost.img-sass {
  top: 30%;
}

/* line 849, ../_sass/main.scss */
.posts {
  padding: 20px 0;
}

/* line 853, ../_sass/main.scss */
.post-meta {
  color: #444444;
  font-weight: 700;
}

/* line 858, ../_sass/main.scss */
.pure-hybrid .l-box {
  padding: 10px 5px 10px 75px;
}

/* line 862, ../_sass/main.scss */
section.post {
  margin: 10px auto;
  padding: 20px 40px;
  min-height: 200px;
  width: 100%;
}

/* line 869, ../_sass/main.scss */
.content-subhead i {
  left: 0;
  position: relative;
  top: 0;
}

/* line 875, ../_sass/main.scss */
footer {
  position: fixed;
  bottom: 50%;
  left: 20%;
  z-index: 1000;
  display: block;
  padding: 20px;
  width: 100%;
  background: #acacac;
  box-shadow: inset 0 10px 35px #363636;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/* line 890, ../_sass/main.scss */
footer.active {
  left: 0;
}

/* line 895, ../_sass/main.scss */
.footer-toggle-control.active {
  width: 100%;
}

/* line 899, ../_sass/main.scss */
.footer-list {
  display: table;
  margin-top: 0;
  margin-left: 0;
  padding-left: 0;
  width: 100%;
  list-style: none;
}
/* line 906, ../_sass/main.scss */
.footer-list li {
  display: table-cell;
  width: 27.9%;
  font-size: 2.0em;
  color: #fff;
  text-shadow: none;
  font-weight: 500;
}

/* line 916, ../_sass/main.scss */
footer.active-toggle.active ul li {
  width: 32.5%;
}

/* line 920, ../_sass/main.scss */
.footer-list li a {
  color: #3b657c;
}

/* line 924, ../_sass/main.scss */
footer .fa {
  cursor: pointer;
}
/* line 926, ../_sass/main.scss */
footer .fa:hover {
  color: white;
}

/* line 931, ../_sass/main.scss */
i.fa-github {
  font-size: 1.95em;
  left: 80%;
  position: absolute;
  top: 3px;
}

/* line 939, ../_sass/main.scss */
.fa.fa-chevron-up, .fa.fa-chevron-down {
  position: relative;
  left: 2px;
  color: #FFFFFF;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
}

/* line 948, ../_sass/main.scss */
footer .fa.fa-chevron-up, footer .fa.fa-chevron-down {
  position: relative;
  left: 2px;
  color: #ef310f;
  text-shadow: 1px 1px black;
}

/* line 956, ../_sass/main.scss */
.hybrid-no-left-panel i.fa.fa-chevron-down.fa-chevron-up:before {
  content: "\f077";
}

/* line 960, ../_sass/main.scss */
footer {
  bottom: -124px;
}
/* line 961, ../_sass/main.scss */
footer .social-shout-out {
  margin: -1px auto 0;
  padding-top: 0;
  height: 25px;
  background: #2a2a2a;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: 700;
  font-size: .75em;
  font-family: "Oxygen";
  border: 1px transparent;
}
/* line 972, ../_sass/main.scss */
footer .social-shout-out:hover {
  border-bottom: 1px solid black;
  background: #000102;
  color: white;
  text-shadow: 1px 1px black;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
/* line 985, ../_sass/main.scss */
footer.active-toggle {
  bottom: 0;
  height: 24%;
  opacity: 0.90;
  background: black;
  box-shadow: none;
}

@media (max-width: 767px) {
  /* line 998, ../_sass/main.scss */
  .footer-toggle-control {
    width: 100%;
  }

  /* line 1002, ../_sass/main.scss */
  .content-wrapper .pure-g {
    padding: 10px;
  }

  /* line 1006, ../_sass/main.scss */
  .pure-hybrid .l-box {
    padding: 10px 5px;
    width: 100%;
  }

  /* line 1011, ../_sass/main.scss */
  .splash-combo-respond .splash {
    width: 100%;
  }

  /* line 1015, ../_sass/main.scss */
  .splash-container.splash-combo-respond {
    left: 0;
    padding: 0;
    width: 100%;
    height: 60%;
  }

  /* line 1022, ../_sass/main.scss */
  #layout.pure-hybrid .content .content-wrapper {
    right: auto;
    left: auto;
    padding-left: 0;
    width: 100%;
  }

  /* line 1029, ../_sass/main.scss */
  a.pure-data-service {
    padding-top: 10px;
    width: 100%;
    height: auto;
    font-size: .65em;
  }
  /* line 1034, ../_sass/main.scss */
  a.pure-data-service li {
    font-size: 1.5em;
  }

  /* line 1039, ../_sass/main.scss */
  a.pure-data-service:hover {
    min-height: 100px;
    height: 135px;
  }

  /* line 1044, ../_sass/main.scss */
  .pure-hybrid .data-hidden-service p {
    font-size: 1.4em;
  }

  /* line 1048, ../_sass/main.scss */
  .power-image img {
    top: 25px;
    left: 0;
    width: 50px;
  }

  /* line 1054, ../_sass/main.scss */
  .grey-scale.ghost.img-git, .grey-scale.ghost.img-bower {
    top: 5px;
  }

  /* line 1058, ../_sass/main.scss */
  .grey-scale.ghost.img-sass {
    top: 15px;
  }

  /* line 1062, ../_sass/main.scss */
  footer {
    bottom: -25.5%;
    left: 0;
  }
  /* line 1065, ../_sass/main.scss */
  footer .active-toggle {
    bottom: 0;
  }

  /* line 1070, ../_sass/main.scss */
  footer .social-shout-out {
    padding: 3px;
    width: 100%;
    border-radius: 0;
  }

  /* line 1075, ../_sass/main.scss */
  .footer-list {
    display: table;
    margin-top: 0px;
    margin-left: 0;
    padding-left: 8%;
    width: 95%;
    list-style: none;
  }

  /* line 1084, ../_sass/main.scss */
  .footer-list li {
    display: table-cell;
    width: 31.5%;
    font-size: 2.0em;
    color: #fff;
    text-shadow: none;
    font-weight: 500;
  }

  /* line 1093, ../_sass/main.scss */
  .hybrid-no-left-panel {
    display: none;
  }

  /* line 1097, ../_sass/main.scss */
  .content-wrapper {
    width: 100%;
    left: 0;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }

  /* line 1107, ../_sass/main.scss */
  #layout.pure-hybrid #menu.combo-respond-left.combo-hide.active {
    left: 150px;
  }

  /* line 1111, ../_sass/main.scss */
  .pure-power-list {
    padding-right: 0;
    height: 110px;
  }
  /* line 1114, ../_sass/main.scss */
  .pure-power-list li {
    position: relative;
    display: table-cell;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
  }

  /* line 1123, ../_sass/main.scss */
  #layout.pure-hybrid .content {
    padding: 0;
    max-width: 100%;
  }

  /* line 1128, ../_sass/main.scss */
  section.post {
    margin: 0;
    margin-bottom: 55px;
    padding: 20px 45px;
    width: 100%;
  }
}
/* line 1136, ../_sass/main.scss */
body {
  color: #a1a1a1;
  font-family: "Oxygen";
}

/* line 1141, ../_sass/main.scss */
.pure-img-responsive {
  max-width: 100%;
  height: auto;
}

/* line 1146, ../_sass/main.scss */
#layout, #menu, .menu-link {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

/* line 1154, ../_sass/main.scss */
#layout {
  position: relative;
  padding-left: 0;
}
/* line 1157, ../_sass/main.scss */
#layout.active {
  left: 150px;
  display: block;
  float: left;
  clear: both;
  height: 100%;
}

/* line 1166, ../_sass/main.scss */
.pure-hybrid.active {
  width: 100%;
}

/* line 1171, ../_sass/main.scss */
#layout.active #menu {
  left: 150px;
  width: 150px;
}
/* line 1175, ../_sass/main.scss */
#layout.active .menu-link {
  left: 150px;
}

/* line 1180, ../_sass/main.scss */
.header {
  margin: 0;
  padding: 2.5em 2em 0;
  border-bottom: 1px solid #eee;
  color: #333;
  text-align: center;
}
/* line 1186, ../_sass/main.scss */
.header h1 {
  font-weight: 300;
  font-size: 3em;
}
/* line 1190, ../_sass/main.scss */
.header h2 {
  margin-top: 0;
  padding: 0;
  color: #ccc;
  font-weight: 300;
}

/* line 1198, ../_sass/main.scss */
.content-subhead {
  margin: 50px 0 20px 0;
  color: #888;
  font-weight: 300;
}

/* line 1204, ../_sass/main.scss */
#menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  overflow-y: auto;
  margin-left: -150px;
  width: 150px;
  background: white;
  -webkit-overflow-scrolling: touch;
}
/* line 1215, ../_sass/main.scss */
#menu a {
  padding: 0.6em 0 0.6em 1.68em;
  border: none;
  color: #999;
}
/* line 1220, ../_sass/main.scss */
#menu .pure-menu {
  border: none;
  background: transparent;
}
/* line 1223, ../_sass/main.scss */
#menu .pure-menu ul {
  border: none;
  background: transparent;
  border-top: 1px solid #454545;
}
/* line 1228, ../_sass/main.scss */
#menu .pure-menu .menu-item-divided {
  border-top: 1px solid #454545;
}
/* line 1232, ../_sass/main.scss */
#menu .pure-menu li a:hover, #menu .pure-menu li a:focus {
  background: #333;
}
/* line 1237, ../_sass/main.scss */
#menu .pure-menu-selected, #menu .pure-menu-heading {
  background: #1f8dd6;
}
/* line 1240, ../_sass/main.scss */
#menu .pure-menu-selected a {
  color: #fff;
}
/* line 1243, ../_sass/main.scss */
#menu .pure-menu-heading {
  margin: 0;
  color: #fff;
  font-size: 110%;
}

/* line 1250, ../_sass/main.scss */
.menu-link {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: block;
  padding: 2.1em 1.6em;
  width: 2em;
  height: auto;
  background: #000;
  background: rgba(0, 0, 0, 0.7);
  font-size: 10px;
}
/* line 1262, ../_sass/main.scss */
.menu-link:hover, .menu-link:focus {
  background: #000;
}
/* line 1265, ../_sass/main.scss */
.menu-link span {
  position: relative;
  display: block;
  width: 100%;
  height: 0.2em;
  background-color: #fff;
}
/* line 1271, ../_sass/main.scss */
.menu-link span:before, .menu-link span:after {
  width: 100%;
  height: 0.2em;
  background-color: #fff;
}
/* line 1276, ../_sass/main.scss */
.menu-link span:before {
  position: absolute;
  margin-top: -0.6em;
  content: " ";
}
/* line 1281, ../_sass/main.scss */
.menu-link span:after {
  position: absolute;
  margin-top: -0.6em;
  content: " ";
  margin-top: 0.6em;
}

@media (min-width: 48em) {
  /* line 1291, ../_sass/main.scss */
  #layout {
    left: 0;
    padding-left: 150px;
  }

  /* line 1295, ../_sass/main.scss */
  #menu {
    left: 150px;
  }

  /* line 1298, ../_sass/main.scss */
  .menu-link {
    position: fixed;
    left: 150px;
    display: none;
  }

  /* line 1303, ../_sass/main.scss */
  #layout.active .menu-link {
    left: 150px;
  }
}
/* line 1308, ../_sass/main.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 1314, ../_sass/main.scss */
body {
  color: #a1a1a1;
  font-size: 13px;
  line-height: 1.7em;
}

/* line 1320, ../_sass/main.scss */
h1, h3, h4, h5, h6, label {
  color: rgba(9, 52, 74, 0.85);
}

/* line 1324, ../_sass/main.scss */
.pure-img-responsive {
  max-width: 100%;
  height: auto;
}

/* line 1329, ../_sass/main.scss */
.l-box {
  padding: 1em;
}

/* line 1333, ../_sass/main.scss */
.l-box-lrg {
  padding: 2em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* line 1338, ../_sass/main.scss */
.is-center {
  text-align: center;
}

/* line 1342, ../_sass/main.scss */
.pure-g [class*="pure-u"] {
  font-family: sans-serif;
}

/* line 1346, ../_sass/main.scss */
.grids-hybrid.pure-g [class*="pure-u"] {
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}
/* line 1349, ../_sass/main.scss */
.grids-hybrid.pure-g [class*="pure-u"] .content {
  top: 60%;
  left: 0;
  margin: 0 auto;
  margin-bottom: 50px;
  width: 100%;
  background: rgba(55, 64, 77, 0.33);
  line-height: 1.6em;
  border: 1px solid rgba(0, 0, 0, 0.15);
  min-height: 100px;
  padding: 5px;
  color: white;
  text-shadow: 1px 1px #717171;
}

/* line 1368, ../_sass/main.scss */
.pure-hybrid .pure-button {
  padding: 0.5em 2em;
  border-radius: 5px;
  background-color: #1179A6;
  color: white;
}

/* line 1375, ../_sass/main.scss */
.pure-paginator .pure-button {
  border-radius: 0;
  padding: .35em 2em;
  vertical-align: top;
  height: 2em;
  text-shadow: 1px 1px black;
}

/* line 1384, ../_sass/main.scss */
.pure-hybrid .pure-form label {
  margin: 1em 0 0;
  font-weight: bold;
  font-size: 100%;
}
/* line 1389, ../_sass/main.scss */
.pure-hybrid .pure-form input[type] {
  margin-bottom: 1em;
  width: 90%;
  border: 1px solid #e9e9e9;
  box-shadow: none;
  font-size: 100%;
  font-family: "Oxygen";
}

/* line 1399, ../_sass/main.scss */
.pure-button {
  padding: 0.5em 2em;
  border-radius: 5px;
  background-color: #1f8dd6;
  color: white;
}

/* line 1406, ../_sass/main.scss */
.pure-hybrid a.pure-button-primary {
  color: #858585;
  text-transform: lowercase;
  text-shadow: 1px 1px white;
  background: #f4f4f4;
}

/* line 1413, ../_sass/main.scss */
.home-menu {
  padding: 0.5em;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  text-align: center;
}
/* line 1417, ../_sass/main.scss */
.home-menu.pure-menu-open {
  background: #2d3e50;
}

/* line 1422, ../_sass/main.scss */
.pure-menu.pure-menu-open.pure-menu-fixed {
  z-index: 4;
  border-bottom: none;
}

/* line 1428, ../_sass/main.scss */
.home-menu .pure-menu-heading {
  color: white;
  font-weight: 400;
  font-size: 120%;
}
/* line 1433, ../_sass/main.scss */
.home-menu .pure-menu-selected a {
  color: white;
}
/* line 1436, ../_sass/main.scss */
.home-menu a {
  color: #6FBEF3;
}
/* line 1440, ../_sass/main.scss */
.home-menu li a:hover, .home-menu li a:focus {
  border: none;
  background: none;
  color: #AECFE5;
}

/* line 1448, ../_sass/main.scss */
.splash-container {
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  height: 88%;
  background: #1f8dd6;
}

/* line 1459, ../_sass/main.scss */
.splash {
  position: absolute;
  top: 100px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 80%;
  height: 50%;
  text-align: center;
  text-transform: uppercase;
}

/* line 1472, ../_sass/main.scss */
.content-wrapper {
  position: absolute;
  top: 87%;
  z-index: 2;
  min-height: 12%;
  width: 80%;
  left: 20%;
  background: white;
  box-shadow: -10px 0 35px 10px rgba(11, 38, 55, 0.33);
}

/* line 1483, ../_sass/main.scss */
.content-head {
  margin: 2em 0 1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 400;
}

/* line 1490, ../_sass/main.scss */
.content-head-ribbon {
  color: white;
}

/* line 1494, ../_sass/main.scss */
.content-subhead {
  color: #1f8dd6;
}

/* line 1498, ../_sass/main.scss */
.ribbon {
  background: #2d3e50;
  color: #aaa;
}

/* line 1503, ../_sass/main.scss */
.footer {
  background: #111;
}

@media (min-width: 48em) {
  /* line 1508, ../_sass/main.scss */
  body {
    font-size: 16px;
  }

  /* line 1511, ../_sass/main.scss */
  .home-menu {
    text-align: left;
  }
  /* line 1513, ../_sass/main.scss */
  .home-menu ul {
    float: right;
  }

  /* line 1517, ../_sass/main.scss */
  .splash {
    width: 50%;
    height: 50%;
  }

  /* line 1521, ../_sass/main.scss */
  .splash-head {
    font-size: 250%;
  }

  /* line 1524, ../_sass/main.scss */
  .l-box-lrg {
    border: none;
  }
}
@media (min-width: 78em) {
  /* line 1530, ../_sass/main.scss */
  .splash-head {
    font-size: 300%;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* line 1539, ../_sass/main.scss */
.fade-in {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}

/* line 1554, ../_sass/main.scss */
.fade-in.page-heading {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

/* line 1560, ../_sass/main.scss */
.fade-in.page-hero {
  -webkit-animation-delay: 1.3s;
  -moz-animation-delay: 1.3s;
  animation-delay: 1.3s;
}

/* line 1566, ../_sass/main.scss */
.fade-in.one {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

/* line 1572, ../_sass/main.scss */
.fade-in.two {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

/* line 1578, ../_sass/main.scss */
.fade-in.three {
  -webkit-animation-delay: 1.6s;
  -moz-animation-delay: 1.6s;
  animation-delay: 1.6s;
}

/* line 1584, ../_sass/main.scss */
.fade-in.four {
  -webkit-animation-delay: 2.4s;
  -moz-animation-delay: 2.4s;
  animation-delay: 2.4s;
}

/* line 1590, ../_sass/main.scss */
.box {
  font-size: 10em;
}

/* line 1594, ../_sass/main.scss */
article.page {
  padding-left: 10%;
}

/* line 1598, ../_sass/main.scss */
.edge {
  margin: 3.35% 5.35%;
  padding: 5.35% 3.35%;
}

/* line 1603, ../_sass/main.scss */
.pin + article.page {
  padding-left: 0;
}

/* line 1607, ../_sass/main.scss */
.page section.edge {
  padding-top: 0;
}

/* line 1611, ../_sass/main.scss */
blockquote {
  margin: 1em 40px;
  background: rgba(206, 206, 206, 0.12);
  padding: 1em;
  border: 1px dotted rgba(51, 51, 51, 0.15);
  color: #323232;
}
