/* line 253, ../_sass/mixins.scss */
.line-one {
  height: 16.66667%;
}

/* line 257, ../_sass/mixins.scss */
.line-two {
  height: 33.33333%;
}

/* line 261, ../_sass/mixins.scss */
.line-three {
  height: 50.0%;
}

/* line 265, ../_sass/mixins.scss */
.line-four {
  height: 66.66667%;
}

/* line 269, ../_sass/mixins.scss */
.line-five {
  height: 83.33333%;
}

/* line 273, ../_sass/mixins.scss */
.line-six {
  height: 100.0%;
}

/* line 283, ../_sass/mixins.scss */
.swatch-one {
  width: 20%;
}

/* line 287, ../_sass/mixins.scss */
.swatch-two {
  width: 40%;
}

/* line 291, ../_sass/mixins.scss */
.swatch-three {
  width: 60%;
}

/* line 295, ../_sass/mixins.scss */
.swatch-four {
  width: 80%;
}

/* line 299, ../_sass/mixins.scss */
.swatch-five {
  width: 100%;
}

/* line 303, ../_sass/mixins.scss */
a {
  color: #5cb85c;
  text-decoration: none;
}
/* line 306, ../_sass/mixins.scss */
a:hover {
  color: #db473d;
}
