/* line 355, ../_sass/mixins.scss */
.swatch-one {
  width: 20%;
}

/* line 359, ../_sass/mixins.scss */
.swatch-two {
  width: 40%;
}

/* line 363, ../_sass/mixins.scss */
.swatch-three {
  width: 60%;
}

/* line 367, ../_sass/mixins.scss */
.swatch-four {
  width: 80%;
}

/* line 371, ../_sass/mixins.scss */
.swatch-five {
  width: 100%;
}

/* line 379, ../_sass/mixins.scss */
.line-one {
  height: 16.66667%;
}

/* line 383, ../_sass/mixins.scss */
.line-two {
  height: 33.33333%;
}

/* line 387, ../_sass/mixins.scss */
.line-three {
  height: 50.0%;
}

/* line 391, ../_sass/mixins.scss */
.line-four {
  height: 66.66667%;
}

/* line 395, ../_sass/mixins.scss */
.line-five {
  height: 83.33333%;
}

/* line 399, ../_sass/mixins.scss */
.line-six {
  height: 100.0%;
}

/* line 508, ../_sass/mixins.scss */
a {
  color: #5cb85c;
  text-decoration: none;
}
/* line 511, ../_sass/mixins.scss */
a:hover {
  color: #db473d;
}
