@import url(http://fonts.googleapis.com/css?family=Maven+Pro:400,500,700|Oxygen:400,300,700|Montserrat:400,700);
@import url(../bower_components/pure/pure-min.css);
/* line 5, ../_sass/style.scss */
blockquote {
  margin: 1em 40px;
  font-size: 20px;
  font-style: italic;
  font-weight: 100;
  background: rgba(204, 204, 204, 0.14);
  padding: 1em;
  text-shadow: 1px 1px white;
  border: 1px solid rgba(228, 52, 25, 0.32);
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.12);
  border-radius: 0 8px 8px;
  border-top-color: white;
  border-left-color: white;
  color: #f53217;
}
/* line 19, ../_sass/style.scss */
blockquote .quote-from {
  color: #8c8686;
  font-weight: 400;
}

/* line 25, ../_sass/style.scss */
menu, ol, ul {
  border: 1px solid #f4f4f4;
  background: rgba(223, 223, 223, 0.26);
  margin: 1em 0;
  padding: 1em 2em;
  box-shadow: 0 0 25px 10px rgba(210, 210, 210, 0);
  text-shadow: 1px 1px white;
}
/* line 32, ../_sass/style.scss */
menu.footer-list, ol.footer-list, ul.footer-list {
  border: none;
  background: transparent;
  margin: 1em 0;
  padding: 1em 2em;
  box-shadow: none;
  text-shadow: 1px 1px white;
}
/* line 40, ../_sass/style.scss */
menu.pure-data-list, ol.pure-data-list, ul.pure-data-list {
  float: left;
  clear: both;
  margin-top: 35px;
  margin-left: 3%;
  padding-left: 0;
  width: 95%;
  border-left: 1px solid #cccccc;
  background: #cccccc;
  list-style: none;
}

/* line 53, ../_sass/style.scss */
dl {
  margin: 0;
  padding: 0;
  text-shadow: 1px 1px white;
}

/* line 59, ../_sass/style.scss */
dt {
  background: #cccccc;
  padding: .5em;
  border-bottom: 1px solid #e6e6e6;
  color: black;
}

/* line 66, ../_sass/style.scss */
dd {
  margin: 0 0 0 0;
  background: rgba(221, 221, 221, 0.33);
  padding: 10px 0 10px 40px;
}

/* line 72, ../_sass/style.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 78, ../_sass/style.scss */
a {
  color: #f53217;
  text-decoration: none;
}

/* line 84, ../_sass/style.scss */
a:hover,
a:focus {
  color: #da5230;
  text-decoration: none;
}

/* line 89, ../_sass/style.scss */
.post-description h4 {
  color: #f53217;
}

/* line 93, ../_sass/style.scss */
.pure-service-list {
  padding: 0 35px;
  width: 100%;
}

/* line 98, ../_sass/style.scss */
a.pure-data-service {
  float: left;
  margin: 0 0 -1px 0;
  padding: 15px;
  max-width: 100%;
  width: 25%;
  height: 100px;
  border: 1px solid;
  border-top-color: #dadada;
  border-right-color: #e4e4e4;
  border-bottom-color: lightgrey;
  border-left-color: white;
  background: #f7f7f7;
  background-color: #fefefe;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #fefefe, #e6e6e6);
  background-image: -moz-linear-gradient(top, #fefefe, #e6e6e6);
  background-image: -o-linear-gradient(top, #fefefe, #e6e6e6);
  background-image: linear-gradient(to bottom, #fefefe, #e6e6e6);
  color: #ff2a02;
  text-shadow: 1px 1px white;
}

/* line 121, ../_sass/style.scss */
a.pure-data-service:hover {
  min-height: 298px;
  max-height: 298px;
  border: 1px solid #0a1820;
  border-bottom-color: #617781;
  background: #2c4150;
  box-shadow: none;
  color: white;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

/* line 136, ../_sass/style.scss */
a.pure-data-service li {
  position: relative;
  top: 20%;
  left: 0%;
  text-align: center;
  text-shadow: 1px 1px white;
  font-weight: 700;
  font-size: .95em;
  font-family: "Oxygen";
  line-height: 1.25em;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

/* line 153, ../_sass/style.scss */
a.pure-data-service:hover li {
  top: 3%;
  text-align: left;
  text-shadow: 1px 1px black;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

/* line 164, ../_sass/style.scss */
a.pure-data-service:hover li.data-hidden-service {
  display: block;
  color: #ececec;
  text-shadow: 1px 1px black;
  font-weight: 100;
  font-size: .75em;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

/* line 177, ../_sass/style.scss */
.data-hidden-service {
  display: none;
  color: white;
  font-size: .75em;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

/* line 188, ../_sass/style.scss */
.pure-hybrid .data-hidden-service p {
  color: #beccd5;
  font-size: 1em;
  line-height: 1.2em;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

/* line 199, ../_sass/style.scss */
.pure-hybrid .content {
  padding: 0;
}

/* line 203, ../_sass/style.scss */
.grey-scale {
  -webkit-filter: grayscale(100);
  -ms-filter: grayscale(100);
  filter: grayscale(100);
  -moz-filter: grayscale(100);
  -o-filter: grayscale(100);
}

/* line 211, ../_sass/style.scss */
.ghost {
  opacity: 0.35;
}

/* line 215, ../_sass/style.scss */
.pure-hybrid a.pure-button-primary {
  color: #858585;
  text-transform: lowercase;
  text-shadow: 1px 1px white;
}

/* line 222, ../_sass/style.scss */
.pure-hybrid #menu .pure-menu ul,
.pure-hybrid #menu .pure-menu .menu-item-divided {
  border-top: 1px solid #cfcfcf;
}

/* line 227, ../_sass/style.scss */
.pure-hybrid #menu .pure-menu-selected,
.pure-hybrid #menu .pure-menu-heading {
  background: #c7c7c7;
}

/* line 231, ../_sass/style.scss */
.pure-hybrid #menu a.dash-link {
  padding: 1em;
}

/* line 235, ../_sass/style.scss */
.pure-menu .pure-menu-heading {
  color: white;
  text-transform: uppercase;
  font-size: 90%;
  margin-top: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #d7d7d7;
  background: rgba(112, 112, 112, 0.89);
  width: 100%;
  text-shadow: 1px 1px #3f3e3e;
}

/* line 248, ../_sass/style.scss */
.pure-hybrid #menu a.pure-menu-heading {
  margin: 0;
  margin-left: 0;
  border-bottom: 1px solid #dbdbdb;
  color: #838383;
  text-shadow: 1px 1px #dddddd;
  font-weight: 700;
  font-size: 1.25em;
  font-family: Montserrat;
  letter-spacing: .2em;
}

/* line 260, ../_sass/style.scss */
.grid-label {
  color: #000;
  font-weight: 700;
  text-shadow: 1px 1px rgba(222, 220, 220, 0.7);
}

/* line 266, ../_sass/style.scss */
.pure-hybrid #menu a.pure-menu-heading:hover {
  background: #f8f7f7;
  color: #f71d09;
  text-shadow: 1px 1px white;
}

/* line 272, ../_sass/style.scss */
.pure-hybrid #menu a.active {
  background: rgba(18, 27, 34, 0.5);
  color: #f4f4f4;
  text-shadow: 1px 1px #676767;
  border-bottom: 1px solid #fefefe;
  border-top: 1px solid #656565;
}

/* line 280, ../_sass/style.scss */
#menu ul li a {
  font-weight: 400;
  font-family: "Montserrat";
}

/* line 285, ../_sass/style.scss */
.pure-hybrid #menu {
  border-right: 1px solid #ebebeb;
  background: #ebebeb;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.68);
}
/* line 289, ../_sass/style.scss */
.pure-hybrid #menu a {
  color: #bbbbbb;
  text-shadow: 1px 1px white;
}

/* line 295, ../_sass/style.scss */
#menu a:hover {
  background: #333333;
  color: #575757;
  text-shadow: 1px 1px black;
}

/* line 301, ../_sass/style.scss */
.pure-menu li {
  position: relative;
  border-top: 1px transparent;
  text-transform: uppercase;
  font-size: .8em;
}

/* line 309, ../_sass/style.scss */
.pure-hybrid #menu .pure-menu li a:hover,
.pure-hybrid #menu .pure-menu li a:focus {
  background: white;
  box-shadow: inset 0 5px 0 #e9e9e9;
  color: #f53217;
  text-shadow: 1px 1px white;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

/* line 321, ../_sass/style.scss */
.pure-hybrid .splash-container {
  background: #c6c6c6;
}

/* line 329, ../_sass/style.scss */
h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  font-family: "Montserrat";
  letter-spacing: 0.2em;
}

/* line 335, ../_sass/style.scss */
.pure-hybrid h2 {
  letter-spacing: 0.2em;
  font-size: 1.45em;
}

/* line 340, ../_sass/style.scss */
.pure-hybrid p {
  position: relative;
  top: 5%;
  font-size: .9em;
  font-family: "Arial";
  line-height: 1.55em;
}

/* line 348, ../_sass/style.scss */
.pure-hybrid .content-head {
  margin: 2.5em auto 1.5em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 700;
  line-height: 1.1em;
}

/* line 357, ../_sass/style.scss */
h2.post-title,
h2.page-title {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 1.57rm;
}

/* line 363, ../_sass/style.scss */
h2.post-title a {
  color: #f53217;
  text-decoration: none;
}

/* line 369, ../_sass/style.scss */
h2.post-title a:hover,
h2.post-title a:focus {
  color: #da5230;
  text-decoration: none;
}

/* line 374, ../_sass/style.scss */
.hybrid-page {
  margin: 0 auto;
  padding: 46px 0 35px 15px;
}

/* line 379, ../_sass/style.scss */
.pure-hybrid h1.content-subhead {
  margin: 1.75em auto 1em;
  color: #34495e;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 700;
  line-height: 1.1em;
}

/* line 388, ../_sass/style.scss */
.pure-hybrid h3.content-subhead {
  margin: 20px 0;
  color: #f53217;
  text-transform: uppercase;
}

/* line 394, ../_sass/style.scss */
.pure-hybrid h2.content-head {
  color: #464646;
}

/* line 398, ../_sass/style.scss */
h1.content-subhead {
  margin: 2em 0 1em;
  color: #353535;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 400;
}

/* line 406, ../_sass/style.scss */
.hybrid-combo-article {
  margin: 0 0 0 10%;
  padding: 0;
  width: 90%;
}

/* line 412, ../_sass/style.scss */
.hybrid-combo-article .content {
  position: relative;
}

/* line 416, ../_sass/style.scss */
.hybrid-combo-article a {
  font-weight: 700;
  font-size: 1.27em;
  font-family: "Oxygen";
}

/* line 423, ../_sass/style.scss */
.hybrid-combo-article .post-title,
.hybrid-combo-article .page-title {
  margin-top: 10px;
  color: #f14109;
  text-shadow: 1px 1px white;
  letter-spacing: 0.1em;
  font-size: 1.57em;
}

/* line 431, ../_sass/style.scss */
.pure-menu.pure-menu-open, .pure-menu.pure-menu-horizontal li .pure-menu-children {
  background: white;
  border: 1px solid #f0f0f0;
}

/* line 436, ../_sass/style.scss */
.posts .content {
  top: 95%;
}

/* line 454, ../_sass/style.scss */
.post-description a {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1em;
  font-family: "Montserrat";
}

/* line 461, ../_sass/style.scss */
.l-box a {
  display: inline-block;
  margin-top: 1.51em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9em;
}

/* line 469, ../_sass/style.scss */
.teaser-more {
  color: #1c9ac2;
}

/* line 473, ../_sass/style.scss */
#layout .menu-link {
  background: #f53217;
  color: black;
}

/* line 478, ../_sass/style.scss */
#layout .menu-link:hover {
  background: black;
}

/* line 482, ../_sass/style.scss */
#layout .menu-link span {
  color: black;
}

/* line 486, ../_sass/style.scss */
#layout .menu-link span:hover {
  color: #f53217;
}

/* line 490, ../_sass/style.scss */
#layout .menu-link {
  padding: 18px 5px;
  width: 35px;
}

/* line 495, ../_sass/style.scss */
#layout.pure-hybrid #menu {
  width: 20%;
}

/* line 499, ../_sass/style.scss */
#layout.pure-hybrid {
  position: inherit;
  letter-spacing: 0;
}

/* line 504, ../_sass/style.scss */
.content {
  position: absolute;
  top: 60%;
  left: 0;
  margin: 0 auto;
  margin-bottom: 50px;
  width: 100%;
  background: white;
  line-height: 1.6em;
}

/* line 515, ../_sass/style.scss */
.active-menu-flag {
  top: -11px;
}

/* line 519, ../_sass/style.scss */
.pure-hybrid .splash {
  position: absolute;
  top: 76px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 80%;
  height: 50%;
  text-align: center;
  text-transform: uppercase;
}

/* line 532, ../_sass/style.scss */
.splash .fa.fa-twitter {
  padding-left: 10px;
  color: #1c9ac2;
  font-size: 1.11em;
}

/* line 538, ../_sass/style.scss */
.splash-container.splash-combo-respond {
  left: 20%;
  margin: 0 auto;
  padding: 0;
  width: 80%;
  height: 65%;
}

/* line 546, ../_sass/style.scss */
.splash-container.splash-combo-respond .splash-head {
  margin: 0 auto;
  padding: 1.75em;
  width: 100%;
  height: auto;
  border: 1px solid #384049;
  border-bottom: 1px solid #3b5364;
  border-radius: 0;
  background: rgba(53, 66, 78, 0.8);
  box-shadow: inset 0 10px 35px #101b25;
  text-shadow: 1px 1px #0b2b47;
  font-size: 2.25em;
  line-height: 1.1em;
}

/* line 561, ../_sass/style.scss */
.splash-combo-respond .splash {
  width: 100%;
  height: 100%;
}

/* line 566, ../_sass/style.scss */
.splash-subhead {
  color: white;
  text-shadow: 1px 1px #525252;
  letter-spacing: 0.05em;
  opacity: 0.8;
}

/* line 573, ../_sass/style.scss */
.pure-hybrid p.splash-subhead {
  color: #272c2e;
  text-shadow: 1px 1px white;
  font-weight: 300;
  font-size: 1.1em;
  opacity: 0.8;
  font-family: "Montserrat";
  letter-spacing: 0.2em;
}

/* line 583, ../_sass/style.scss */
.fa.fa-chevron-circle-right.teaser-more {
  font-size: .9em;
}

/* line 587, ../_sass/style.scss */
#layout.pure-hybrid .content .content-wrapper {
  position: absolute;
  top: 65%;
  left: 20%;
  z-index: 2;
  min-height: 50%;
  width: 80%;
  background: white;
  box-shadow: 10px 0 35px rgba(0, 0, 0, 0.5);
}

/* line 598, ../_sass/style.scss */
.hybrid-no-left-panel {
  position: fixed;
  top: 45%;
  left: 20.1%;
  z-index: 2000;
  margin-left: -37px;
  padding: 1px 10px;
  width: 100px;
  height: 26px;
  border-radius: 4px 4px 0 0;
  background: #797979;
  box-shadow: 2px 0px 30px rgba(0, 0, 0, 0.17);
  color: #f12d08;
  text-align: center;
  text-transform: uppercase;
  font-family: "Oxygen";
  cursor: pointer;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* line 620, ../_sass/style.scss */
.hybrid-no-left-panel:hover {
  background: #000102;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

/* line 629, ../_sass/style.scss */
.pure-hybrid .pure-menu.pure-menu-open.pure-menu-fixed {
  z-index: 4;
  border-bottom: none;
  left: 20%;
  background: #f3f3f3;
}

/* line 637, ../_sass/style.scss */
#layout.pure-hybrid #menu.combo-respond-left.combo-hide,
.splash-combo-respond.combo-hide {
  left: -150px;
}

/* line 642, ../_sass/style.scss */
.splash-container.splash-combo-respond.combo-show,
#layout.pure-hybrid .content .content-wrapper.combo-show {
  left: 0;
  width: 100%;
}

/* line 647, ../_sass/style.scss */
.hybrid-no-left-panel.combo-pin {
  left: 0;
}

/* line 651, ../_sass/style.scss */
.content-wrapper .pure-g {
  padding-right: 30px;
}

/* line 655, ../_sass/style.scss */
.pure-g-power a {
  margin-top: 55px;
  width: 100%;
}

/* line 660, ../_sass/style.scss */
.pure-g.pure-g-power {
  float: left;
  clear: both;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

/* line 668, ../_sass/style.scss */
h1.power {
  margin: 0 auto;
  padding: 10px;
  width: 100%;
  border-radius: 4px 4px 0 0;
  background: white;
  box-shadow: inset 0 14px 15px #f3f3f3;
  color: #bbbbbb;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px white;
  letter-spacing: .1em;
  font-weight: 500;
  font-size: 1.1em;
  font-family: "Montserrat";
  line-height: 1.75;
}

/* line 686, ../_sass/style.scss */
.pure-power-list {
  display: table;
  margin-top: 0px;
  margin-left: 0;
  padding-left: 0;
  width: 100%;
  height: 225px;
  background: #f7f7f7;
  background-color: #fefefe;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #fefefe, #e6e6e6);
  background-image: -moz-linear-gradient(top, #fefefe, #e6e6e6);
  background-image: -o-linear-gradient(top, #fefefe, #e6e6e6);
  background-image: linear-gradient(to bottom, #f0f0f0, #ffffff);
  list-style: none;
}

/* line 703, ../_sass/style.scss */
.pure-power-list li {
  position: relative;
  display: table-cell;
  padding-right: 10%;
  text-align: center;
}

/* line 710, ../_sass/style.scss */
.power-image img {
  position: absolute;
  top: 40%;
  padding-right: 0;
  width: 100px;
  vertical-align: middle;
  image-rendering: auto;
}

/* line 719, ../_sass/style.scss */
.power-image img:hover {
  opacity: 1.0;
  -webkit-filter: grayscale(0);
  -ms-filter: grayscale(0);
  filter: grayscale(0);
  -moz-filter: grayscale(0);
  -o-filter: grayscale(0);
}

/* line 729, ../_sass/style.scss */
.grey-scale.ghost.img-git,
.grey-scale.ghost.img-bower {
  top: 25%;
}

/* line 733, ../_sass/style.scss */
.grey-scale.ghost.img-sass {
  top: 30%;
}

/* line 737, ../_sass/style.scss */
.posts {
  padding: 20px 0;
}

/* line 741, ../_sass/style.scss */
.post-meta {
  color: #444444;
  font-weight: 700;
}

/* line 746, ../_sass/style.scss */
.pure-hybrid .l-box {
  padding: 10px 5px 10px 75px;
}

/* line 750, ../_sass/style.scss */
section.post {
  margin: 10px auto;
  padding: 20px 40px;
  min-height: 200px;
  width: 100%;
}

/* line 757, ../_sass/style.scss */
.content-subhead i {
  float: left;
  margin-right: 7px;
  margin-left: -37px;
  padding-top: 2px;
  height: 40px;
  font-size: 1.63em;
}

/* line 766, ../_sass/style.scss */
footer {
  position: fixed;
  bottom: 0;
  left: 20%;
  z-index: 1000;
  display: block;
  padding: 20px;
  width: 100%;
  background: #26323d;
  box-shadow: inset 0 10px 35px #101b25;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

/* line 783, ../_sass/style.scss */
footer.active {
  left: 0;
}

/* line 787, ../_sass/style.scss */
.footer-toggle-control.active {
  width: 100%;
}

/* line 791, ../_sass/style.scss */
.footer-list {
  display: table;
  margin-top: 0;
  margin-left: 0;
  padding-left: 0;
  width: 100%;
  list-style: none;
}

/* line 800, ../_sass/style.scss */
.footer-list li {
  display: table-cell;
  width: 27.9%;
  font-size: 2.0em;
}

/* line 806, ../_sass/style.scss */
footer.active-toggle.active ul li {
  width: 32.5%;
}

/* line 810, ../_sass/style.scss */
.footer-list li a {
  color: #3b657c;
}

/* line 814, ../_sass/style.scss */
footer .fa {
  cursor: pointer;
}

/* line 818, ../_sass/style.scss */
footer .fa:hover {
  color: white;
}

/* line 823, ../_sass/style.scss */
.fa.fa-chevron-up,
.fa.fa-chevron-down {
  position: relative;
  left: 2px;
  color: white;
}

/* line 829, ../_sass/style.scss */
.hybrid-no-left-panel i.fa.fa-chevron-down.fa-chevron-up:before {
  content: "\f077";
}

/* line 833, ../_sass/style.scss */
footer .social-shout-out {
  margin: -1px auto 0;
  padding-top: 0;
  height: 25px;
  background: #777777;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: 700;
  font-size: .75em;
  font-family: "Oxygen";
}

/* line 846, ../_sass/style.scss */
footer .social-shout-out:hover {
  border-bottom: 1px solid black;
  background: #000102;
  color: white;
  text-shadow: 1px 1px black;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

/* line 858, ../_sass/style.scss */
footer {
  bottom: -104px;
}

/* line 862, ../_sass/style.scss */
footer.active-toggle {
  bottom: 0;
}

/* line 866, ../_sass/style.scss */
.footer-toggle-control {
  position: absolute;
  bottom: 104px;
  left: 0;
  width: 80%;
  cursor: pointer;
}
/* line 872, ../_sass/style.scss */
.footer-toggle-control h3 {
  color: white;
}

@media (max-width: 767px) {
  /* line 878, ../_sass/style.scss */
  .pure-hybrid #menu a {
    font-size: 1.3em;
  }

  /* line 882, ../_sass/style.scss */
  .splash-combo-respond .splash {
    width: 100%;
  }

  /* line 886, ../_sass/style.scss */
  .splash-container.splash-combo-respond {
    left: 0;
    padding: 0;
    width: 100%;
    height: 65%;
  }

  /* line 893, ../_sass/style.scss */
  #layout.pure-hybrid .content .content-wrapper {
    right: auto;
    left: auto;
    padding-left: 0;
    width: 100%;
  }

  /* line 900, ../_sass/style.scss */
  a.pure-data-service {
    padding-top: 10px;
    width: 100%;
    height: auto;
    font-size: .65em;
  }
  /* line 905, ../_sass/style.scss */
  a.pure-data-service li {
    font-size: 1.5em;
  }

  /* line 910, ../_sass/style.scss */
  a.pure-data-service:hover {
    min-height: 100px;
    height: 135px;
  }

  /* line 915, ../_sass/style.scss */
  .pure-hybrid .data-hidden-service p {
    font-size: 1.4em;
  }

  /* line 919, ../_sass/style.scss */
  .power-image img {
    top: 25px;
    left: 0;
    width: 50px;
  }

  /* line 925, ../_sass/style.scss */
  .grey-scale.ghost.img-git, .grey-scale.ghost.img-bower {
    top: 5px;
  }

  /* line 929, ../_sass/style.scss */
  .grey-scale.ghost.img-sass {
    top: 15px;
  }

  /* line 933, ../_sass/style.scss */
  footer {
    bottom: -79px;
    left: 0;
  }
  /* line 936, ../_sass/style.scss */
  footer .active-toggle {
    bottom: 0;
  }

  /* line 941, ../_sass/style.scss */
  footer .social-shout-out {
    padding: 3px;
    width: 100%;
    border-radius: 0;
  }

  /* line 946, ../_sass/style.scss */
  .footer-list {
    display: table;
    margin-top: 0px;
    margin-left: 0;
    padding-left: 8%;
    width: 95%;
    list-style: none;
  }

  /* line 955, ../_sass/style.scss */
  .footer-list li {
    display: table-cell;
    width: 31.5%;
    font-size: 2.0em;
  }

  /* line 961, ../_sass/style.scss */
  .hybrid-no-left-panel {
    display: none;
  }

  /* line 965, ../_sass/style.scss */
  #layout.pure-hybrid #menu.combo-respond-left.combo-hide.active {
    left: 150px;
  }

  /* line 969, ../_sass/style.scss */
  .pure-power-list {
    padding-right: 0;
    height: 110px;
  }
  /* line 972, ../_sass/style.scss */
  .pure-power-list li {
    position: relative;
    display: table-cell;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
  }

  /* line 981, ../_sass/style.scss */
  #layout.pure-hybrid .content {
    padding: 0;
    max-width: 100%;
  }

  /* line 986, ../_sass/style.scss */
  section.post {
    margin: 0;
    margin-bottom: 55px;
    padding: 20px 45px;
    width: 100%;
  }
}
/* line 994, ../_sass/style.scss */
body {
  color: #777;
}

/* line 998, ../_sass/style.scss */
.pure-img-responsive {
  max-width: 100%;
  height: auto;
}

/* line 1005, ../_sass/style.scss */
#layout,
#menu,
.menu-link {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

/* line 1013, ../_sass/style.scss */
#layout {
  position: relative;
  padding-left: 0;
}

/* line 1018, ../_sass/style.scss */
#layout.active {
  left: 150px;
  display: block;
  float: left;
  clear: both;
  height: 100%;
}

/* line 1026, ../_sass/style.scss */
.pure-hybrid.active {
  width: 60%;
}

/* line 1031, ../_sass/style.scss */
#layout.active #menu {
  left: 150px;
  width: 150px;
}

/* line 1036, ../_sass/style.scss */
#layout.active .menu-link {
  left: 150px;
}

/* line 1040, ../_sass/style.scss */
.header {
  margin: 0;
  padding: 2.5em 2em 0;
  border-bottom: 1px solid #eee;
  color: #333;
  text-align: center;
}

/* line 1048, ../_sass/style.scss */
.header h1 {
  margin: 0.2em 0;
  font-weight: 300;
  font-size: 3em;
}

/* line 1054, ../_sass/style.scss */
.header h2 {
  margin-top: 0;
  padding: 0;
  color: #ccc;
  font-weight: 300;
}

/* line 1061, ../_sass/style.scss */
.content-subhead {
  margin: 50px 0 20px 0;
  color: #888;
  font-weight: 300;
}

/* line 1067, ../_sass/style.scss */
#menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  overflow-y: auto;
  margin-left: -150px;
  width: 150px;
  background: #191818;
  -webkit-overflow-scrolling: touch;
}

/* line 1080, ../_sass/style.scss */
#menu a {
  padding: 0.6em 0 0.6em 0.6em;
  border: none;
  color: #999;
}

/* line 1087, ../_sass/style.scss */
#menu .pure-menu,
#menu .pure-menu ul {
  border: none;
  background: transparent;
}

/* line 1093, ../_sass/style.scss */
#menu .pure-menu ul,
#menu .pure-menu .menu-item-divided {
  border-top: 1px solid #333;
}

/* line 1098, ../_sass/style.scss */
#menu .pure-menu li a:hover,
#menu .pure-menu li a:focus {
  background: #333;
}

/* line 1103, ../_sass/style.scss */
#menu .pure-menu-selected,
#menu .pure-menu-heading {
  background: #1f8dd6;
}

/* line 1107, ../_sass/style.scss */
#menu .pure-menu-selected a {
  color: #fff;
}

/* line 1111, ../_sass/style.scss */
#menu .pure-menu-heading {
  margin: 0;
  color: #fff;
  font-size: 110%;
}

/* line 1117, ../_sass/style.scss */
.menu-link {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: block;
  padding: 2.1em 1.6em;
  width: 2em;
  height: auto;
  background: #000;
  background: rgba(0, 0, 0, 0.7);
  font-size: 10px;
}

/* line 1132, ../_sass/style.scss */
.menu-link:hover,
.menu-link:focus {
  background: #000;
}

/* line 1136, ../_sass/style.scss */
.menu-link span {
  position: relative;
  display: block;
}

/* line 1143, ../_sass/style.scss */
.menu-link span,
.menu-link span:before,
.menu-link span:after {
  width: 100%;
  height: 0.2em;
  background-color: #fff;
}

/* line 1150, ../_sass/style.scss */
.menu-link span:before,
.menu-link span:after {
  position: absolute;
  margin-top: -0.6em;
  content: " ";
}

/* line 1156, ../_sass/style.scss */
.menu-link span:after {
  margin-top: 0.6em;
}

@media (min-width: 48em) {
  /*    .header,
      .content {
          padding-right: 2em;
          padding-left: 2em;
      }*/
  /* line 1167, ../_sass/style.scss */
  #layout {
    left: 0;
    padding-left: 150px;
  }

  /* line 1172, ../_sass/style.scss */
  #menu {
    left: 150px;
  }

  /* line 1176, ../_sass/style.scss */
  .menu-link {
    position: fixed;
    left: 150px;
    display: none;
  }

  /* line 1182, ../_sass/style.scss */
  #layout.active .menu-link {
    left: 150px;
  }
}
@media screen and (min-width: 35.5em) {
  /* line 1233, ../_sass/style.scss */
  .pure-u-sm-1,
  .pure-u-sm-1-1,
  .pure-u-sm-1-2,
  .pure-u-sm-1-3,
  .pure-u-sm-2-3,
  .pure-u-sm-1-4,
  .pure-u-sm-3-4,
  .pure-u-sm-1-5,
  .pure-u-sm-2-5,
  .pure-u-sm-3-5,
  .pure-u-sm-4-5,
  .pure-u-sm-5-5,
  .pure-u-sm-1-6,
  .pure-u-sm-5-6,
  .pure-u-sm-1-8,
  .pure-u-sm-3-8,
  .pure-u-sm-5-8,
  .pure-u-sm-7-8,
  .pure-u-sm-1-12,
  .pure-u-sm-5-12,
  .pure-u-sm-7-12,
  .pure-u-sm-11-12,
  .pure-u-sm-1-24,
  .pure-u-sm-2-24,
  .pure-u-sm-3-24,
  .pure-u-sm-4-24,
  .pure-u-sm-5-24,
  .pure-u-sm-6-24,
  .pure-u-sm-7-24,
  .pure-u-sm-8-24,
  .pure-u-sm-9-24,
  .pure-u-sm-10-24,
  .pure-u-sm-11-24,
  .pure-u-sm-12-24,
  .pure-u-sm-13-24,
  .pure-u-sm-14-24,
  .pure-u-sm-15-24,
  .pure-u-sm-16-24,
  .pure-u-sm-17-24,
  .pure-u-sm-18-24,
  .pure-u-sm-19-24,
  .pure-u-sm-20-24,
  .pure-u-sm-21-24,
  .pure-u-sm-22-24,
  .pure-u-sm-23-24,
  .pure-u-sm-24-24 {
    display: inline-block;
    vertical-align: top;
    word-spacing: normal;
    letter-spacing: normal;
    zoom: 1;
    *display: inline;
    text-rendering: auto;
  }

  /* line 1243, ../_sass/style.scss */
  .pure-u-sm-1-24 {
    width: 4.1667%;
    *width: 4.1357%;
  }

  /* line 1249, ../_sass/style.scss */
  .pure-u-sm-1-12,
  .pure-u-sm-2-24 {
    width: 8.3333%;
    *width: 8.3023%;
  }

  /* line 1255, ../_sass/style.scss */
  .pure-u-sm-1-8,
  .pure-u-sm-3-24 {
    width: 12.5000%;
    *width: 12.4690%;
  }

  /* line 1261, ../_sass/style.scss */
  .pure-u-sm-1-6,
  .pure-u-sm-4-24 {
    width: 16.6667%;
    *width: 16.6357%;
  }

  /* line 1266, ../_sass/style.scss */
  .pure-u-sm-1-5 {
    width: 20%;
    *width: 19.9690%;
  }

  /* line 1271, ../_sass/style.scss */
  .pure-u-sm-5-24 {
    width: 20.8333%;
    *width: 20.8023%;
  }

  /* line 1277, ../_sass/style.scss */
  .pure-u-sm-1-4,
  .pure-u-sm-6-24 {
    width: 25%;
    *width: 24.9690%;
  }

  /* line 1282, ../_sass/style.scss */
  .pure-u-sm-7-24 {
    width: 29.1667%;
    *width: 29.1357%;
  }

  /* line 1288, ../_sass/style.scss */
  .pure-u-sm-1-3,
  .pure-u-sm-8-24 {
    width: 33.3333%;
    *width: 33.3023%;
  }

  /* line 1294, ../_sass/style.scss */
  .pure-u-sm-3-8,
  .pure-u-sm-9-24 {
    width: 37.5000%;
    *width: 37.4690%;
  }

  /* line 1299, ../_sass/style.scss */
  .pure-u-sm-2-5 {
    width: 40%;
    *width: 39.9690%;
  }

  /* line 1305, ../_sass/style.scss */
  .pure-u-sm-5-12,
  .pure-u-sm-10-24 {
    width: 41.6667%;
    *width: 41.6357%;
  }

  /* line 1310, ../_sass/style.scss */
  .pure-u-sm-11-24 {
    width: 45.8333%;
    *width: 45.8023%;
  }

  /* line 1316, ../_sass/style.scss */
  .pure-u-sm-1-2,
  .pure-u-sm-12-24 {
    width: 50%;
    *width: 49.9690%;
  }

  /* line 1321, ../_sass/style.scss */
  .pure-u-sm-13-24 {
    width: 54.1667%;
    *width: 54.1357%;
  }

  /* line 1327, ../_sass/style.scss */
  .pure-u-sm-7-12,
  .pure-u-sm-14-24 {
    width: 58.3333%;
    *width: 58.3023%;
  }

  /* line 1332, ../_sass/style.scss */
  .pure-u-sm-3-5 {
    width: 60%;
    *width: 59.9690%;
  }

  /* line 1338, ../_sass/style.scss */
  .pure-u-sm-5-8,
  .pure-u-sm-15-24 {
    width: 62.5000%;
    *width: 62.4690%;
  }

  /* line 1344, ../_sass/style.scss */
  .pure-u-sm-2-3,
  .pure-u-sm-16-24 {
    width: 66.6667%;
    *width: 66.6357%;
  }

  /* line 1349, ../_sass/style.scss */
  .pure-u-sm-17-24 {
    width: 70.8333%;
    *width: 70.8023%;
  }

  /* line 1355, ../_sass/style.scss */
  .pure-u-sm-3-4,
  .pure-u-sm-18-24 {
    width: 75%;
    *width: 74.9690%;
  }

  /* line 1360, ../_sass/style.scss */
  .pure-u-sm-19-24 {
    width: 79.1667%;
    *width: 79.1357%;
  }

  /* line 1365, ../_sass/style.scss */
  .pure-u-sm-4-5 {
    width: 80%;
    *width: 79.9690%;
  }

  /* line 1371, ../_sass/style.scss */
  .pure-u-sm-5-6,
  .pure-u-sm-20-24 {
    width: 83.3333%;
    *width: 83.3023%;
  }

  /* line 1377, ../_sass/style.scss */
  .pure-u-sm-7-8,
  .pure-u-sm-21-24 {
    width: 87.5000%;
    *width: 87.4690%;
  }

  /* line 1383, ../_sass/style.scss */
  .pure-u-sm-11-12,
  .pure-u-sm-22-24 {
    width: 91.6667%;
    *width: 91.6357%;
  }

  /* line 1388, ../_sass/style.scss */
  .pure-u-sm-23-24 {
    width: 95.8333%;
    *width: 95.8023%;
  }

  /* line 1396, ../_sass/style.scss */
  .pure-u-sm-1,
  .pure-u-sm-1-1,
  .pure-u-sm-5-5,
  .pure-u-sm-24-24 {
    width: 100%;
  }
}
@media screen and (min-width: 48em) {
  /* line 1447, ../_sass/style.scss */
  .pure-u-med-1,
  .pure-u-med-1-1,
  .pure-u-med-1-2,
  .pure-u-med-1-3,
  .pure-u-med-2-3,
  .pure-u-med-1-4,
  .pure-u-med-3-4,
  .pure-u-med-1-5,
  .pure-u-med-2-5,
  .pure-u-med-3-5,
  .pure-u-med-4-5,
  .pure-u-med-5-5,
  .pure-u-med-1-6,
  .pure-u-med-5-6,
  .pure-u-med-1-8,
  .pure-u-med-3-8,
  .pure-u-med-5-8,
  .pure-u-med-7-8,
  .pure-u-med-1-12,
  .pure-u-med-5-12,
  .pure-u-med-7-12,
  .pure-u-med-11-12,
  .pure-u-med-1-24,
  .pure-u-med-2-24,
  .pure-u-med-3-24,
  .pure-u-med-4-24,
  .pure-u-med-5-24,
  .pure-u-med-6-24,
  .pure-u-med-7-24,
  .pure-u-med-8-24,
  .pure-u-med-9-24,
  .pure-u-med-10-24,
  .pure-u-med-11-24,
  .pure-u-med-12-24,
  .pure-u-med-13-24,
  .pure-u-med-14-24,
  .pure-u-med-15-24,
  .pure-u-med-16-24,
  .pure-u-med-17-24,
  .pure-u-med-18-24,
  .pure-u-med-19-24,
  .pure-u-med-20-24,
  .pure-u-med-21-24,
  .pure-u-med-22-24,
  .pure-u-med-23-24,
  .pure-u-med-24-24 {
    display: inline-block;
    vertical-align: top;
    word-spacing: normal;
    letter-spacing: normal;
    zoom: 1;
    *display: inline;
    text-rendering: auto;
  }

  /* line 1457, ../_sass/style.scss */
  .pure-u-med-1-24 {
    width: 4.1667%;
    *width: 4.1357%;
  }

  /* line 1463, ../_sass/style.scss */
  .pure-u-med-1-12,
  .pure-u-med-2-24 {
    width: 8.3333%;
    *width: 8.3023%;
  }

  /* line 1469, ../_sass/style.scss */
  .pure-u-med-1-8,
  .pure-u-med-3-24 {
    width: 12.5000%;
    *width: 12.4690%;
  }

  /* line 1475, ../_sass/style.scss */
  .pure-u-med-1-6,
  .pure-u-med-4-24 {
    width: 16.6667%;
    *width: 16.6357%;
  }

  /* line 1480, ../_sass/style.scss */
  .pure-u-med-1-5 {
    width: 20%;
    *width: 19.9690%;
  }

  /* line 1485, ../_sass/style.scss */
  .pure-u-med-5-24 {
    width: 20.8333%;
    *width: 20.8023%;
  }

  /* line 1491, ../_sass/style.scss */
  .pure-u-med-1-4,
  .pure-u-med-6-24 {
    width: 25%;
    *width: 24.9690%;
  }

  /* line 1496, ../_sass/style.scss */
  .pure-u-med-7-24 {
    width: 29.1667%;
    *width: 29.1357%;
  }

  /* line 1502, ../_sass/style.scss */
  .pure-u-med-1-3,
  .pure-u-med-8-24 {
    width: 33.3333%;
    *width: 33.3023%;
  }

  /* line 1508, ../_sass/style.scss */
  .pure-u-med-3-8,
  .pure-u-med-9-24 {
    width: 37.5000%;
    *width: 37.4690%;
  }

  /* line 1513, ../_sass/style.scss */
  .pure-u-med-2-5 {
    width: 40%;
    *width: 39.9690%;
  }

  /* line 1519, ../_sass/style.scss */
  .pure-u-med-5-12,
  .pure-u-med-10-24 {
    width: 41.6667%;
    *width: 41.6357%;
  }

  /* line 1524, ../_sass/style.scss */
  .pure-u-med-11-24 {
    width: 45.8333%;
    *width: 45.8023%;
  }

  /* line 1530, ../_sass/style.scss */
  .pure-u-med-1-2,
  .pure-u-med-12-24 {
    width: 50%;
    *width: 49.9690%;
  }

  /* line 1535, ../_sass/style.scss */
  .pure-u-med-13-24 {
    width: 54.1667%;
    *width: 54.1357%;
  }

  /* line 1541, ../_sass/style.scss */
  .pure-u-med-7-12,
  .pure-u-med-14-24 {
    width: 58.3333%;
    *width: 58.3023%;
  }

  /* line 1546, ../_sass/style.scss */
  .pure-u-med-3-5 {
    width: 60%;
    *width: 59.9690%;
  }

  /* line 1552, ../_sass/style.scss */
  .pure-u-med-5-8,
  .pure-u-med-15-24 {
    width: 62.5000%;
    *width: 62.4690%;
  }

  /* line 1558, ../_sass/style.scss */
  .pure-u-med-2-3,
  .pure-u-med-16-24 {
    width: 66.6667%;
    *width: 66.6357%;
  }

  /* line 1563, ../_sass/style.scss */
  .pure-u-med-17-24 {
    width: 70.8333%;
    *width: 70.8023%;
  }

  /* line 1569, ../_sass/style.scss */
  .pure-u-med-3-4,
  .pure-u-med-18-24 {
    width: 75%;
    *width: 74.9690%;
  }

  /* line 1574, ../_sass/style.scss */
  .pure-u-med-19-24 {
    width: 79.1667%;
    *width: 79.1357%;
  }

  /* line 1579, ../_sass/style.scss */
  .pure-u-med-4-5 {
    width: 80%;
    *width: 79.9690%;
  }

  /* line 1585, ../_sass/style.scss */
  .pure-u-med-5-6,
  .pure-u-med-20-24 {
    width: 83.3333%;
    *width: 83.3023%;
  }

  /* line 1591, ../_sass/style.scss */
  .pure-u-med-7-8,
  .pure-u-med-21-24 {
    width: 87.5000%;
    *width: 87.4690%;
  }

  /* line 1597, ../_sass/style.scss */
  .pure-u-med-11-12,
  .pure-u-med-22-24 {
    width: 91.6667%;
    *width: 91.6357%;
  }

  /* line 1602, ../_sass/style.scss */
  .pure-u-med-23-24 {
    width: 95.8333%;
    *width: 95.8023%;
  }

  /* line 1610, ../_sass/style.scss */
  .pure-u-med-1,
  .pure-u-med-1-1,
  .pure-u-med-5-5,
  .pure-u-med-24-24 {
    width: 100%;
  }
}
@media screen and (min-width: 58em) {
  /* line 1661, ../_sass/style.scss */
  .pure-u-lrg-1,
  .pure-u-lrg-1-1,
  .pure-u-lrg-1-2,
  .pure-u-lrg-1-3,
  .pure-u-lrg-2-3,
  .pure-u-lrg-1-4,
  .pure-u-lrg-3-4,
  .pure-u-lrg-1-5,
  .pure-u-lrg-2-5,
  .pure-u-lrg-3-5,
  .pure-u-lrg-4-5,
  .pure-u-lrg-5-5,
  .pure-u-lrg-1-6,
  .pure-u-lrg-5-6,
  .pure-u-lrg-1-8,
  .pure-u-lrg-3-8,
  .pure-u-lrg-5-8,
  .pure-u-lrg-7-8,
  .pure-u-lrg-1-12,
  .pure-u-lrg-5-12,
  .pure-u-lrg-7-12,
  .pure-u-lrg-11-12,
  .pure-u-lrg-1-24,
  .pure-u-lrg-2-24,
  .pure-u-lrg-3-24,
  .pure-u-lrg-4-24,
  .pure-u-lrg-5-24,
  .pure-u-lrg-6-24,
  .pure-u-lrg-7-24,
  .pure-u-lrg-8-24,
  .pure-u-lrg-9-24,
  .pure-u-lrg-10-24,
  .pure-u-lrg-11-24,
  .pure-u-lrg-12-24,
  .pure-u-lrg-13-24,
  .pure-u-lrg-14-24,
  .pure-u-lrg-15-24,
  .pure-u-lrg-16-24,
  .pure-u-lrg-17-24,
  .pure-u-lrg-18-24,
  .pure-u-lrg-19-24,
  .pure-u-lrg-20-24,
  .pure-u-lrg-21-24,
  .pure-u-lrg-22-24,
  .pure-u-lrg-23-24,
  .pure-u-lrg-24-24 {
    display: inline-block;
    vertical-align: top;
    word-spacing: normal;
    letter-spacing: normal;
    zoom: 1;
    *display: inline;
    text-rendering: auto;
  }

  /* line 1671, ../_sass/style.scss */
  .pure-u-lrg-1-24 {
    width: 4.1667%;
    *width: 4.1357%;
  }

  /* line 1677, ../_sass/style.scss */
  .pure-u-lrg-1-12,
  .pure-u-lrg-2-24 {
    width: 8.3333%;
    *width: 8.3023%;
  }

  /* line 1683, ../_sass/style.scss */
  .pure-u-lrg-1-8,
  .pure-u-lrg-3-24 {
    width: 12.5000%;
    *width: 12.4690%;
  }

  /* line 1689, ../_sass/style.scss */
  .pure-u-lrg-1-6,
  .pure-u-lrg-4-24 {
    width: 16.6667%;
    *width: 16.6357%;
  }

  /* line 1694, ../_sass/style.scss */
  .pure-u-lrg-1-5 {
    width: 20%;
    *width: 19.9690%;
  }

  /* line 1699, ../_sass/style.scss */
  .pure-u-lrg-5-24 {
    width: 20.8333%;
    *width: 20.8023%;
  }

  /* line 1705, ../_sass/style.scss */
  .pure-u-lrg-1-4,
  .pure-u-lrg-6-24 {
    width: 25%;
    *width: 24.9690%;
  }

  /* line 1710, ../_sass/style.scss */
  .pure-u-lrg-7-24 {
    width: 29.1667%;
    *width: 29.1357%;
  }

  /* line 1716, ../_sass/style.scss */
  .pure-u-lrg-1-3,
  .pure-u-lrg-8-24 {
    width: 33.3333%;
    *width: 33.3023%;
  }

  /* line 1722, ../_sass/style.scss */
  .pure-u-lrg-3-8,
  .pure-u-lrg-9-24 {
    width: 37.5000%;
    *width: 37.4690%;
  }

  /* line 1727, ../_sass/style.scss */
  .pure-u-lrg-2-5 {
    width: 40%;
    *width: 39.9690%;
  }

  /* line 1733, ../_sass/style.scss */
  .pure-u-lrg-5-12,
  .pure-u-lrg-10-24 {
    width: 41.6667%;
    *width: 41.6357%;
  }

  /* line 1738, ../_sass/style.scss */
  .pure-u-lrg-11-24 {
    width: 45.8333%;
    *width: 45.8023%;
  }

  /* line 1744, ../_sass/style.scss */
  .pure-u-lrg-1-2,
  .pure-u-lrg-12-24 {
    width: 50%;
    *width: 49.9690%;
  }

  /* line 1749, ../_sass/style.scss */
  .pure-u-lrg-13-24 {
    width: 54.1667%;
    *width: 54.1357%;
  }

  /* line 1755, ../_sass/style.scss */
  .pure-u-lrg-7-12,
  .pure-u-lrg-14-24 {
    width: 58.3333%;
    *width: 58.3023%;
  }

  /* line 1760, ../_sass/style.scss */
  .pure-u-lrg-3-5 {
    width: 60%;
    *width: 59.9690%;
  }

  /* line 1766, ../_sass/style.scss */
  .pure-u-lrg-5-8,
  .pure-u-lrg-15-24 {
    width: 62.5000%;
    *width: 62.4690%;
  }

  /* line 1772, ../_sass/style.scss */
  .pure-u-lrg-2-3,
  .pure-u-lrg-16-24 {
    width: 66.6667%;
    *width: 66.6357%;
  }

  /* line 1777, ../_sass/style.scss */
  .pure-u-lrg-17-24 {
    width: 70.8333%;
    *width: 70.8023%;
  }

  /* line 1783, ../_sass/style.scss */
  .pure-u-lrg-3-4,
  .pure-u-lrg-18-24 {
    width: 75%;
    *width: 74.9690%;
  }

  /* line 1788, ../_sass/style.scss */
  .pure-u-lrg-19-24 {
    width: 79.1667%;
    *width: 79.1357%;
  }

  /* line 1793, ../_sass/style.scss */
  .pure-u-lrg-4-5 {
    width: 80%;
    *width: 79.9690%;
  }

  /* line 1799, ../_sass/style.scss */
  .pure-u-lrg-5-6,
  .pure-u-lrg-20-24 {
    width: 83.3333%;
    *width: 83.3023%;
  }

  /* line 1805, ../_sass/style.scss */
  .pure-u-lrg-7-8,
  .pure-u-lrg-21-24 {
    width: 87.5000%;
    *width: 87.4690%;
  }

  /* line 1811, ../_sass/style.scss */
  .pure-u-lrg-11-12,
  .pure-u-lrg-22-24 {
    width: 91.6667%;
    *width: 91.6357%;
  }

  /* line 1816, ../_sass/style.scss */
  .pure-u-lrg-23-24 {
    width: 95.8333%;
    *width: 95.8023%;
  }

  /* line 1824, ../_sass/style.scss */
  .pure-u-lrg-1,
  .pure-u-lrg-1-1,
  .pure-u-lrg-5-5,
  .pure-u-lrg-24-24 {
    width: 100%;
  }
}
@media screen and (min-width: 75em) {
  /* line 1875, ../_sass/style.scss */
  .pure-u-xl-1,
  .pure-u-xl-1-1,
  .pure-u-xl-1-2,
  .pure-u-xl-1-3,
  .pure-u-xl-2-3,
  .pure-u-xl-1-4,
  .pure-u-xl-3-4,
  .pure-u-xl-1-5,
  .pure-u-xl-2-5,
  .pure-u-xl-3-5,
  .pure-u-xl-4-5,
  .pure-u-xl-5-5,
  .pure-u-xl-1-6,
  .pure-u-xl-5-6,
  .pure-u-xl-1-8,
  .pure-u-xl-3-8,
  .pure-u-xl-5-8,
  .pure-u-xl-7-8,
  .pure-u-xl-1-12,
  .pure-u-xl-5-12,
  .pure-u-xl-7-12,
  .pure-u-xl-11-12,
  .pure-u-xl-1-24,
  .pure-u-xl-2-24,
  .pure-u-xl-3-24,
  .pure-u-xl-4-24,
  .pure-u-xl-5-24,
  .pure-u-xl-6-24,
  .pure-u-xl-7-24,
  .pure-u-xl-8-24,
  .pure-u-xl-9-24,
  .pure-u-xl-10-24,
  .pure-u-xl-11-24,
  .pure-u-xl-12-24,
  .pure-u-xl-13-24,
  .pure-u-xl-14-24,
  .pure-u-xl-15-24,
  .pure-u-xl-16-24,
  .pure-u-xl-17-24,
  .pure-u-xl-18-24,
  .pure-u-xl-19-24,
  .pure-u-xl-20-24,
  .pure-u-xl-21-24,
  .pure-u-xl-22-24,
  .pure-u-xl-23-24,
  .pure-u-xl-24-24 {
    display: inline-block;
    vertical-align: top;
    word-spacing: normal;
    letter-spacing: normal;
    zoom: 1;
    *display: inline;
    text-rendering: auto;
  }

  /* line 1885, ../_sass/style.scss */
  .pure-u-xl-1-24 {
    width: 4.1667%;
    *width: 4.1357%;
  }

  /* line 1891, ../_sass/style.scss */
  .pure-u-xl-1-12,
  .pure-u-xl-2-24 {
    width: 8.3333%;
    *width: 8.3023%;
  }

  /* line 1897, ../_sass/style.scss */
  .pure-u-xl-1-8,
  .pure-u-xl-3-24 {
    width: 12.5000%;
    *width: 12.4690%;
  }

  /* line 1903, ../_sass/style.scss */
  .pure-u-xl-1-6,
  .pure-u-xl-4-24 {
    width: 16.6667%;
    *width: 16.6357%;
  }

  /* line 1908, ../_sass/style.scss */
  .pure-u-xl-1-5 {
    width: 20%;
    *width: 19.9690%;
  }

  /* line 1913, ../_sass/style.scss */
  .pure-u-xl-5-24 {
    width: 20.8333%;
    *width: 20.8023%;
  }

  /* line 1919, ../_sass/style.scss */
  .pure-u-xl-1-4,
  .pure-u-xl-6-24 {
    width: 25%;
    *width: 24.9690%;
  }

  /* line 1924, ../_sass/style.scss */
  .pure-u-xl-7-24 {
    width: 29.1667%;
    *width: 29.1357%;
  }

  /* line 1930, ../_sass/style.scss */
  .pure-u-xl-1-3,
  .pure-u-xl-8-24 {
    width: 33.3333%;
    *width: 33.3023%;
  }

  /* line 1936, ../_sass/style.scss */
  .pure-u-xl-3-8,
  .pure-u-xl-9-24 {
    width: 37.5000%;
    *width: 37.4690%;
  }

  /* line 1941, ../_sass/style.scss */
  .pure-u-xl-2-5 {
    width: 40%;
    *width: 39.9690%;
  }

  /* line 1947, ../_sass/style.scss */
  .pure-u-xl-5-12,
  .pure-u-xl-10-24 {
    width: 41.6667%;
    *width: 41.6357%;
  }

  /* line 1952, ../_sass/style.scss */
  .pure-u-xl-11-24 {
    width: 45.8333%;
    *width: 45.8023%;
  }

  /* line 1958, ../_sass/style.scss */
  .pure-u-xl-1-2,
  .pure-u-xl-12-24 {
    width: 50%;
    *width: 49.9690%;
  }

  /* line 1963, ../_sass/style.scss */
  .pure-u-xl-13-24 {
    width: 54.1667%;
    *width: 54.1357%;
  }

  /* line 1969, ../_sass/style.scss */
  .pure-u-xl-7-12,
  .pure-u-xl-14-24 {
    width: 58.3333%;
    *width: 58.3023%;
  }

  /* line 1974, ../_sass/style.scss */
  .pure-u-xl-3-5 {
    width: 60%;
    *width: 59.9690%;
  }

  /* line 1980, ../_sass/style.scss */
  .pure-u-xl-5-8,
  .pure-u-xl-15-24 {
    width: 62.5000%;
    *width: 62.4690%;
  }

  /* line 1986, ../_sass/style.scss */
  .pure-u-xl-2-3,
  .pure-u-xl-16-24 {
    width: 66.6667%;
    *width: 66.6357%;
  }

  /* line 1991, ../_sass/style.scss */
  .pure-u-xl-17-24 {
    width: 70.8333%;
    *width: 70.8023%;
  }

  /* line 1997, ../_sass/style.scss */
  .pure-u-xl-3-4,
  .pure-u-xl-18-24 {
    width: 75%;
    *width: 74.9690%;
  }

  /* line 2002, ../_sass/style.scss */
  .pure-u-xl-19-24 {
    width: 79.1667%;
    *width: 79.1357%;
  }

  /* line 2007, ../_sass/style.scss */
  .pure-u-xl-4-5 {
    width: 80%;
    *width: 79.9690%;
  }

  /* line 2013, ../_sass/style.scss */
  .pure-u-xl-5-6,
  .pure-u-xl-20-24 {
    width: 83.3333%;
    *width: 83.3023%;
  }

  /* line 2019, ../_sass/style.scss */
  .pure-u-xl-7-8,
  .pure-u-xl-21-24 {
    width: 87.5000%;
    *width: 87.4690%;
  }

  /* line 2025, ../_sass/style.scss */
  .pure-u-xl-11-12,
  .pure-u-xl-22-24 {
    width: 91.6667%;
    *width: 91.6357%;
  }

  /* line 2030, ../_sass/style.scss */
  .pure-u-xl-23-24 {
    width: 95.8333%;
    *width: 95.8023%;
  }

  /* line 2038, ../_sass/style.scss */
  .pure-u-xl-1,
  .pure-u-xl-1-1,
  .pure-u-xl-5-5,
  .pure-u-xl-24-24 {
    width: 100%;
  }
}
/* line 2043, ../_sass/style.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 2049, ../_sass/style.scss */
body {
  color: #7f8c8d;
  font-size: 13px;
  line-height: 1.7em;
}

/* line 2061, ../_sass/style.scss */
h1,
h2,
h3,
h4,
h5,
h6,
label {
  color: rgba(116, 140, 152, 0.74);
}

/* line 2065, ../_sass/style.scss */
.pure-img-responsive {
  max-width: 100%;
  height: auto;
}

/* line 2070, ../_sass/style.scss */
.l-box {
  padding: 1em;
}

/* line 2074, ../_sass/style.scss */
.l-box-lrg {
  padding: 2em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* line 2079, ../_sass/style.scss */
.is-center {
  text-align: center;
}

/* line 2083, ../_sass/style.scss */
.pure-g [class*="pure-u"] {
  font-family: sans-serif;
}

/* line 2087, ../_sass/style.scss */
.grids-hybrid.pure-g [class*="pure-u"] {
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}
/* line 2090, ../_sass/style.scss */
.grids-hybrid.pure-g [class*="pure-u"] .content {
  top: 60%;
  left: 0;
  margin: 0 auto;
  margin-bottom: 50px;
  width: 100%;
  background: #b6b6b6;
  line-height: 1.6em;
  border: 1px solid rgba(0, 0, 0, 0.15);
  min-height: 100px;
  padding: 5px;
  color: white;
  text-shadow: 1px 1px #676767;
}

/* line 2106, ../_sass/style.scss */
.pure-hybrid .pure-button {
  padding: 0.5em 2em;
  border-radius: 5px;
  background-color: #ee310f;
  color: white;
}

/* line 2113, ../_sass/style.scss */
.pure-paginator .pure-button {
  border-radius: 0;
  padding: .8em 1.4em;
  vertical-align: top;
  height: 3em;
}

/* line 2120, ../_sass/style.scss */
.pure-form label {
  margin: 1em 0 0;
  font-weight: bold;
  font-size: 100%;
}

/* line 2126, ../_sass/style.scss */
.pure-form input[type] {
  margin-bottom: 1em;
  width: 100%;
  border: 2px solid #ddd;
  box-shadow: none;
  font-size: 100%;
}

/* line 2134, ../_sass/style.scss */
.pure-button {
  padding: 0.5em 2em;
  border-radius: 5px;
  background-color: #1f8dd6;
  color: white;
}

/* line 2141, ../_sass/style.scss */
.pure-hybrid a.pure-button-primary {
  color: #858585;
  text-transform: lowercase;
  text-shadow: 1px 1px white;
  background: #f4f4f4;
}

/* line 2148, ../_sass/style.scss */
.home-menu {
  padding: 0.5em;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* line 2154, ../_sass/style.scss */
.home-menu.pure-menu-open {
  background: #2d3e50;
}

/* line 2158, ../_sass/style.scss */
.pure-menu.pure-menu-open.pure-menu-fixed {
  z-index: 4;
  border-bottom: none;
}

/* line 2163, ../_sass/style.scss */
.home-menu .pure-menu-heading {
  color: white;
  font-weight: 400;
  font-size: 120%;
}

/* line 2169, ../_sass/style.scss */
.home-menu .pure-menu-selected a {
  color: white;
}

/* line 2173, ../_sass/style.scss */
.home-menu a {
  color: #6FBEF3;
}

/* line 2178, ../_sass/style.scss */
.home-menu li a:hover,
.home-menu li a:focus {
  border: none;
  background: none;
  color: #AECFE5;
}

/* line 2184, ../_sass/style.scss */
.splash-container {
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  height: 88%;
  background: #1f8dd6;
}

/* line 2195, ../_sass/style.scss */
.splash {
  position: absolute;
  top: 100px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 80%;
  height: 50%;
  text-align: center;
  text-transform: uppercase;
}

/* line 2208, ../_sass/style.scss */
.splash-head {
  padding: 1em 1.6em;
  border: 3px solid white;
  border-radius: 5px;
  color: white;
  font-weight: 100;
  font-size: 20px;
  line-height: 1em;
}

/* line 2218, ../_sass/style.scss */
.splash-subhead {
  color: white;
  letter-spacing: 0.05em;
  opacity: 0.8;
}

/* line 2224, ../_sass/style.scss */
.content-wrapper {
  position: absolute;
  top: 87%;
  z-index: 2;
  min-height: 12%;
  width: 100%;
  background: white;
}

/* line 2233, ../_sass/style.scss */
.content-head {
  margin: 2em 0 1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 400;
}

/* line 2240, ../_sass/style.scss */
.content-head-ribbon {
  color: white;
}

/* line 2244, ../_sass/style.scss */
.content-subhead {
  color: #1f8dd6;
}

/* line 2248, ../_sass/style.scss */
.content-subhead i {
  margin-right: 7px;
}

/* line 2252, ../_sass/style.scss */
.ribbon {
  background: #2d3e50;
  color: #aaa;
}

/* line 2257, ../_sass/style.scss */
.footer {
  background: #111;
}

@media (min-width: 48em) {
  /* line 2263, ../_sass/style.scss */
  body {
    font-size: 16px;
  }

  /* line 2267, ../_sass/style.scss */
  .home-menu {
    text-align: left;
  }

  /* line 2271, ../_sass/style.scss */
  .home-menu ul {
    float: right;
  }

  /* line 2275, ../_sass/style.scss */
  .splash {
    width: 50%;
    height: 50%;
  }

  /* line 2280, ../_sass/style.scss */
  .splash-head {
    font-size: 250%;
  }

  /* line 2284, ../_sass/style.scss */
  .l-box-lrg {
    border: none;
  }
}
@media (min-width: 78em) {
  /* line 2291, ../_sass/style.scss */
  .splash-head {
    font-size: 300%;
  }
}
