<div class="boundary is-center">
    <div class="content-wrapper">
        <div>
            <div class="boundary-five">
                <h1>
                    Prototyping
                </h1>
                <blockquote class="edge">
                    Prototypes will differ from the Production Model in 3 fundamental ways:
                </blockquote>
                <h2>1. Materials</h2>

                <p class="edge"></p>

                <h2>2. Processes</h2>

                <p class="edge"></p>

                <h2>3. Lower Fidelity</h2>

                <p class="edge"></p>
                <button class="pure-button">More</button>
            </div>
            <div class="boundary-five">

                <h1>Responsive</h1>

                <blockquote class="edge">Mobile First, JavaScript, and Progressive Enhancement</blockquote>

                <h2>Mobile First</h2>

                <p class="edge"></p>

                <h2>Progressive Enhancement</h2>

                <p class="edge"></p>

                <p class="edge"></p>
                <button class="pure-button">More</button>
            </div>
            <div class="boundary-five">
                <h1>Modular</h1>

                <blockquote>Modular Programming is a software design technique that emphasizes separating the
                    functionality of a program into independent, interchangeable modules, such that each contains
                    everything necessary to execute only one aspect of the desired functionality
                </blockquote>

                <p class="edge"></p>
                <button class="pure-button">More</button>
            </div>
            <div class="boundary-five">
                <h3>
                    Workflows
                </h3>

                <blockquote>Systematic Organization of Resources</blockquote>
                <p class="edge"></p>

                <p class="edge"></p>

                <p class="edge"></p>
                <button class="pure-button">More</button>
            </div>
        </div>
    </div>
</div>