@import url(http://fonts.googleapis.com/css?family=Maven+Pro:400,500,700|Oxygen:400,300,700|Montserrat:400,700);

@import url(../bower_components/pure/pure-min.css);

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    color: rgb(245, 50, 23);
    text-decoration: none;
}

a:hover,
a:focus {
    color: rgb(218, 82, 48);
    text-decoration: none;
}

.pure-service-list {
    padding: 0 35px;
    width: 100%;
}

ul.pure-data-list {
    float: left;
    clear: both;
    margin-left: 3%;
    padding-left: 0;
    width: 95%;
    list-style: none;
    border-left: 1px solid rgb(204, 204, 204);
    background: rgb(204, 204, 204);
    margin-top: 35px;
}

a.pure-data-service {
    float: left;
    margin: 0 0 -1px 0;
    padding: 15px;
    max-width: 100%;
    width: 25%;
    height: 100px;
    border: 1px solid;
    border-top-color: rgb(218, 218, 218);
    border-right-color: rgb(228, 228, 228);
    border-bottom-color: rgb(211, 211, 211);
    border-left-color: rgb(255, 255, 255);
    background: rgb(247, 247, 247);
    background-color: rgb(254, 254, 254);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(254, 254, 254)), to(rgb(230, 230, 230)));
    background-image: -webkit-linear-gradient(top, rgb(254, 254, 254), rgb(230, 230, 230));
    background-image: -moz-linear-gradient(top, #fefefe, #e6e6e6);
    background-image: -o-linear-gradient(top, #fefefe, #e6e6e6);
    background-image: linear-gradient(to bottom, rgb(254, 254, 254), rgb(230, 230, 230));
    color: rgb(255, 42, 2);
    text-shadow: 1px 1px rgb(255, 255, 255);
}

a.pure-data-service:hover {
    min-height: 298px;
    max-height: 298px;
    border: 1px solid rgb(10, 24, 32);
    border-bottom-color: rgb(97, 119, 129);
    background: rgb(44, 65, 80);
    box-shadow: none;
    color: rgb(255, 255, 255);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

a.pure-data-service li {
    position: relative;
    top: 20%;
    left: 0%;
    text-align: center;
    text-shadow: 1px 1px rgb(255, 255, 255);
    font-weight: 700;
    font-size: .95em;
    font-family: "Oxygen";
    line-height: 1.25em;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

a.pure-data-service:hover li {
    top: 3%;
    text-align: left;
    text-shadow: 1px 1px rgb(0, 0, 0);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

a.pure-data-service:hover li.data-hidden-service {
    display: block;
    color: rgb(236, 236, 236);
    text-shadow: 1px 1px rgb(0, 0, 0);
    font-weight: 100;
    font-size: .75em;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.data-hidden-service {
    display: none;
    color: rgb(255, 255, 255);
    font-size: .75em;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;    
}

.pure-hybrid .data-hidden-service p {
    font-size: 1em;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    color: rgb(190, 204, 213);
    line-height: 1.2em;
}

.pure-hybrid .content {
    padding: 0;
}

.grey-scale {
    -webkit-filter: grayscale(100);
    -ms-filter: grayscale(100);
    filter: grayscale(100);
    -moz-filter: grayscale(100);
    -o-filter: grayscale(100);
}

.ghost {
    opacity: 0.35;
}

.pure-hybrid a.pure-button-primary {
    color: rgb(133, 133, 133);
    text-shadow: 1px 1px rgb(255, 255, 255);
    text-transform: lowercase;
}

.pure-hybrid #menu .pure-menu ul,
.pure-hybrid #menu .pure-menu .menu-item-divided {
    border-top: 1px solid rgb(207, 207, 207);
}

.pure-hybrid #menu .pure-menu-selected,
.pure-hybrid #menu .pure-menu-heading {
    background: rgb(199, 199, 199);
}

.pure-hybrid #menu a.pure-menu-heading {
    margin: 0;
    margin-left: -8px;
    color: rgb(131, 131, 131);
    text-shadow: 1px 1px rgb(221, 221, 221);
    font-weight: 700;
    font-size: 1.25em;
    border-bottom: 1px solid rgb(219, 219, 219);
}

.pure-hybrid #menu a.pure-menu-heading:hover {
    color: rgb(247, 29, 9);
    text-shadow: 1px 1px rgb(255, 255, 255);
    background: rgb(248, 247, 247);
}

.pure-hybrid #menu a.active {
    background: rgb(0, 0, 0);
    color: rgb(112, 111, 111);
    text-shadow: 1px 1px rgb(0, 0, 0);
}

#menu ul li a {
    font-weight: 400;
    font-family: "Montserrat";
}

.pure-hybrid #menu {
    border-right: 1px solid rgb(235, 235, 235);
    background: rgb(235, 235, 235);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.68);
}

    .pure-hybrid #menu a {
        color: rgb(187, 187, 187);
        text-shadow: 1px 1px rgb(255, 255, 255);
    }

#menu a:hover {
    background: rgb(51, 51, 51);
    color: rgb(87, 87, 87);
    text-shadow: 1px 1px rgb(0, 0, 0);
}

.pure-menu li {
    position: relative;
    text-transform: uppercase;
    font-size: .7em;
    border-top: 1px transparent;
}

.pure-hybrid #menu .pure-menu li a:hover, 
.pure-hybrid #menu .pure-menu li a:focus {
    background: rgb(255, 255, 255);
    color: rgb(245, 50, 23);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    text-shadow: 1px 1px rgb(255, 255, 255);
    border-top: 1px solid rgb(224, 224, 224);
    box-shadow: inset 0 5px 20px rgb(233, 233, 233);
}

.pure-hybrid .splash-container {
    background: rgb(44, 65, 80);
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 400;
    font-family: "Montserrat";
}

.pure-hybrid h2 {
    letter-spacing: 0.1em;
    font-size: 1.17em;
}

.pure-hybrid p {
    position: relative;
    top: 5%;
    font-size: .75em;
    font-family: "Oxygen";
    line-height: 1.55em;
}

.pure-hybrid .content-head {
    margin: 2.5em auto 1.5em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 700;
    line-height: 1.1em;
}

h2.post-title,
h2.page-title {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 1.57rm;
}

    h2.post-title a {
        color: rgb(245, 50, 23);
        text-decoration: none;
    }

    h2.post-title a:hover,
    h2.post-title a:focus {
        color: rgb(218, 82, 48);
        text-decoration: none;
    }

.hybrid-page {
    margin: 0 auto;
    padding: 46px 0 35px 15px;
}

.pure-hybrid h1.content-subhead {
    margin: 1.75em auto 1em;
    color: rgb(52, 73, 94);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 700;
    line-height: 1.1em;
}

.pure-hybrid h3.content-subhead {
    margin: 20px 0;
    color: rgb(245, 50, 23);
    text-transform: uppercase;
}

.pure-hybrid h2.content-head {
    color: rgb(70, 70, 70);
}

h1.content-subhead {
    margin: 2em 0 1em;
    color: rgb(53, 53, 53);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 400;
}

.hybrid-combo-article {
    margin: 0 auto;
    padding: 0 25px;
}

    .hybrid-combo-article .content {
        position: relative;
    }

    .hybrid-combo-article a {
        margin-left: 2.55em;
        font-weight: 700;
        font-size: 1.27em;
        font-family: "Oxygen";
    }

    .hybrid-combo-article .post-title,
    .hybrid-combo-article .page-title {
        margin-top: 10px;
        color: rgb(241, 65, 9);
        text-shadow: 1px 1px rgb(255, 255, 255);
        letter-spacing: 0.1em;
        font-size: 1.57em;
    }

.posts .content {
    top: 95%;
}    

.post-description a {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .8em;
    font-family: "Oxygen";
}

.l-box a {
    display: inline-block;
    margin-top: 1.51em;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9em;
}

.teaser-more {
    color: rgb(28, 154, 194);
}

#layout .menu-link {
    background: rgb(245, 50, 23);
    color: rgb(0, 0, 0);
}

#layout .menu-link:hover {
    background: rgb(0, 0, 0);
}

#layout .menu-link span {
    color: rgb(0, 0, 0);
}

#layout .menu-link span:hover {
    color: rgb(245, 50, 23);
}

#layout .menu-link {
    padding: 18px 5px;
    width: 35px;
}

#layout.pure-hybrid #menu {
    width: 13%;
}

#layout.pure-hybrid {
    position: inherit;
    letter-spacing: 0;
}

.content {
    position: absolute;
    top: 60%;
    left: 0;
    margin: 0 auto;
    margin-bottom: 50px;
    width: 100%;
    background: rgb(255, 255, 255);
    line-height: 1.6em;
}

.active-menu-flag {
    top: -11px;
}

.pure-hybrid .splash {
    position: absolute;
    top: 76px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 80%;
    height: 50%;
    text-align: center;
    text-transform: uppercase;
}

.splash .fa.fa-twitter {
    padding-left: 10px;
    color: rgb(28, 154, 194);
    font-size: 1.11em;
}

.splash-container.splash-combo-respond {
    left: 13%;
    margin: 0 auto;
    padding: 0;
    width: 87%;
    height: 65%;
}

    .splash-container.splash-combo-respond .splash-head {
        margin: 0 auto;
        padding: 1.75em;
        width: 100%;
        height: auto;
        border: 1px solid rgb(56, 64, 73);
        border-bottom: 1px solid rgb(59, 83, 100);
        border-radius: 0;
        background: rgba(53, 66, 78, 0.8);
        box-shadow: inset 0 10px 35px rgb(16, 27, 37);
        text-shadow: 1px 1px rgb(11, 43, 71);
        font-size: 2.25em;
        line-height: 1.1em;
    }

.splash-combo-respond .splash {
    width: 100%;
    height: 100%;
}

.splash-subhead {
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px rgb(82, 82, 82);
    letter-spacing: 0.05em;
    opacity: 0.8;
}

.pure-hybrid p.splash-subhead {
    color: rgb(189, 189, 189);
    letter-spacing: 0.05em;
    font-size: 1.1em;
    opacity: 0.8;
    text-shadow: 1px 1px rgb(26, 26, 26);
    font-weight: 100;
}

.fa.fa-chevron-circle-right.teaser-more {
    font-size: .9em;
}

#layout.pure-hybrid .content .content-wrapper {
    position: absolute;
    top: 65%;
    left: 13%;
    z-index: 2;
    min-height: 50%;
    width: 87%;
    background: rgb(255, 255, 255);
    box-shadow: 10px 0 35px rgba(0, 0, 0, 0.5);
}

.hybrid-no-left-panel {
    position: fixed;
    top: 45%;
    left: 13%;
    z-index: 2000;
    margin-left: -37px;
    padding: 1px 10px;
    width: 100px;
    height: 26px;
    border: 1px solid rgb(25, 50, 66);
    border-bottom: 1px solid rgb(0, 0, 0);
    border-radius: 4px 4px 0 0;
    background: rgb(24, 55, 70);
    color: rgb(241, 45, 8);
    text-align: center;
    text-transform: uppercase;
    font-family: "Oxygen";
    cursor: pointer;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.hybrid-no-left-panel:hover {
    background: rgb(0, 1, 2);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

#layout.pure-hybrid #menu.combo-respond-left.combo-hide,
.splash-combo-respond.combo-hide {
    left: -150px;
}

.splash-container.splash-combo-respond.combo-show,
#layout.pure-hybrid .content .content-wrapper.combo-show {
    left: 0;
    width: 100%;
}

.hybrid-no-left-panel.combo-pin {
    left: 0;
}

.content-wrapper .pure-g {
    padding-right: 30px;
}

.pure-g-power a {
    width: 100%;
    margin-top: 55px;
}

.pure-g.pure-g-power {
    float: left;
    clear: both;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

h1.power {
    margin: 0 auto;
    padding: 10px;
    width: 100%;
    border-radius: 4px 4px 0 0;
    background: rgb(255, 255, 255);
    box-shadow: inset 0 14px 15px rgb(243, 243, 243);
    color: rgb(187, 187, 187);
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px rgb(255, 255, 255);
    letter-spacing: .1em;
    font-weight: 500;
    font-size: 1.1em;
    font-family: "Montserrat";
    line-height: 1.75;
}

.pure-power-list {
    display: table;
    margin-top: 0px;
    margin-left: 0;
    padding-left: 0;
    width: 100%;
    height: 225px;
    background: rgb(247, 247, 247);
    background-color: rgb(254, 254, 254);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(254, 254, 254)), to(rgb(230, 230, 230)));
    background-image: -webkit-linear-gradient(top, rgb(254, 254, 254), rgb(230, 230, 230));
    background-image: -moz-linear-gradient(top, #fefefe, #e6e6e6);
    background-image: -o-linear-gradient(top, #fefefe, #e6e6e6);
    background-image: linear-gradient(to bottom, rgb(240, 240, 240), rgb(255, 255, 255));
list-style: none;
}

    .pure-power-list li {
        position: relative;
        display: table-cell;
        padding-right: 10%;
        text-align: center;
    }

.power-image img {
    position: absolute;
    top: 40%;
    padding-right: 0;
    width: 100px;
    vertical-align: middle;
    image-rendering: auto;
}

.power-image img:hover {
    opacity: 1.0;
    -webkit-filter: grayscale(0);
    -ms-filter: grayscale(0);
    filter: grayscale(0);
    -moz-filter: grayscale(0);
    -o-filter: grayscale(0);
}

.grey-scale.ghost.img-git,
.grey-scale.ghost.img-bower {
    top: 25%;
}

.grey-scale.ghost.img-sass {
    top: 30%;
}

.posts {
    padding: 20px 0;
}

.post-meta {
    color: rgb(68, 68, 68);
    font-weight: 700;
}

.pure-hybrid .l-box {
    padding: 10px 5px 10px 75px;
}

section.post {
    margin: 10px auto;
    padding: 20px 40px;
    min-height: 200px;
    width: 100%;
}

.content-subhead i {
    float: left;
    margin-right: 7px;
    margin-left: -37px;
    padding-top: 2px;
    height: 40px;
    font-size: 1.63em;
}

footer {
    position: fixed;
    bottom: 0;
    left: 13%;
    z-index: 1000;
    display: block;
    padding: 20px;
    width: 100%;
    background: rgb(38, 50, 61);
    box-shadow: inset 0 10px 35px rgb(16, 27, 37);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

footer.active {
    left: 0;
}

.footer-toggle-control.active {
    width: 100%;
}

.footer-list {
    display: table;
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
    width: 100%;
    list-style: none;
}

    .footer-list li {
        display: table-cell;
        width: 27.9%;
        font-size: 2.0em;
    }

footer.active-toggle.active ul li {
    width: 32.5%;
}

.footer-list li a {
    color: rgb(59, 101, 124);
}

footer .fa {
    cursor: pointer;
}

footer .fa:hover {
    color: rgb(255, 255, 255);
}

.fa.fa-chevron-up,
.fa.fa-chevron-down {
    position: relative;
    left: 2px;
    color: rgb(255, 255, 255);
}

.hybrid-no-left-panel i.fa.fa-chevron-down.fa-chevron-up:before {
    content: "\f077";
}

footer .social-shout-out {
    margin: 0 auto;
    padding-top: 0;
    width: 165px;
    height: 25px;
    border-radius: 4px 4px 0 0;
    background: rgb(24, 55, 70);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-shadow: 1px 1px rgb(0, 0, 0);
    letter-spacing: .1em;
    font-weight: 700;
    font-size: .75em;
    font-family: "Oxygen";
}

footer .social-shout-out:hover {
    border-bottom: 1px solid rgb(0, 0, 0);
    background: rgb(0, 1, 2);
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px rgb(0, 0, 0);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

footer {
    bottom: -88px;
}

footer.active-toggle {
    bottom: 0;
}

.footer-toggle-control {
    position: absolute;
    bottom: 88px;
    left: 0;
    width: 87%;
    cursor: pointer;
}

@media (max-width: 767px) { 
    .pure-hybrid #menu a {
        font-size: 1.3em;
    }

    .splash-combo-respond .splash {
        width: 100%;
    }

    .splash-container.splash-combo-respond {
        left: 0;
        padding: 0;
        width: 100%;
        height: 65%;
    }

    #layout.pure-hybrid .content .content-wrapper {
        right: auto;
        left: auto;
        padding-left: 0;
        width: 100%;
    }

    a.pure-data-service li {
        font-size: 1.5em;
    }

    a.pure-data-service {
        width: 100%;
        height: auto;
        font-size: .65em;
        padding-top: 10px;
    }   

    a.pure-data-service:hover {
        min-height: 100px;
        height: 135px;
/*        max-height: 100px;*/
    }

    .pure-hybrid .data-hidden-service p {
        font-size: 1.4em;
    }

    .power-image img {
        width: 50px;
        top: 25px;
        left: 0;
    }

    .grey-scale.ghost.img-git, .grey-scale.ghost.img-bower {
        top: 5px;
    }

    .grey-scale.ghost.img-sass {
        top: 15px;
    }    

    footer {
        bottom: -79px;
        left: 0;
    }

    footer.active-toggle {
        bottom: 0;
    }

    footer .social-shout-out {
        padding: 3px;
        width: 100%;
        border-radius: 0;
    }

    .footer-toggle-control {
        bottom: 79px;
        width: 100%;
    }

    .footer-list {
        display: table;
        margin-top: 0px;
        margin-left: 0;
        padding-left: 8%;
        width: 95%;
        list-style: none;
    }

        .footer-list li {
            display: table-cell;
            width: 31.5%;
            font-size: 2.0em;
        }

    .hybrid-no-left-panel {
        display: none;
    }

    #layout.pure-hybrid #menu.combo-respond-left.combo-hide.active {
        left: 150px;
    }

    .pure-power-list {
        padding-right: 0;
        height: 110px;
    }

        .pure-power-list li {
            position: relative;
            display: table-cell;
            padding-right: 0;
            padding-left: 0;
            text-align: center;
        }

    #layout.pure-hybrid .content {
        padding: 0;
        max-width: 100%;
    }

    section.post {
        margin: 0;
        margin-bottom: 55px;
        padding: 20px 45px;
        width: 100%;
    }
}

/* ===[ Side Menu ]=== */

body {
    color: #777;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

/* ===[ Add transition to containers so they can push in and out. ]=== */

#layout,
#menu,
.menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

/* ===[ This is the parent `<div>` that contains the menu and the content area. ]=== */

#layout {
    position: relative;
    padding-left: 0;
}

#layout.active {
    left: 150px;
    display: block;
    float: left;
    clear: both;
    height: 100%;
}

.pure-hybrid.active {
    width: 60%;
}


#layout.active #menu {
    left: 150px;
    width: 150px;
}

#layout.active .menu-link {
    left: 150px;
}

/* ===[ The content `<div>` is where all your content goes. ]=== */

.header {
    margin: 0;
    padding: 2.5em 2em 0;
    border-bottom: 1px solid #eee;
    color: #333;
    text-align: center;
}

    .header h1 {
        margin: 0.2em 0;
        font-weight: 300;
        font-size: 3em;
    }

    .header h2 {
        margin-top: 0;
        padding: 0;
        color: #ccc;
        font-weight: 300;
    }

.content-subhead {
    margin: 50px 0 20px 0;
    color: #888;
    font-weight: 300;
}

#menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000; 
    overflow-y: auto;
    margin-left: -150px; 
    width: 150px;
    background: #191818;
    -webkit-overflow-scrolling: touch;
}

    #menu a {
        padding: 0.6em 0 0.6em 0.6em;
        border: none;
        color: #999;
    }

    #menu .pure-menu,
    #menu .pure-menu ul {
        border: none;
        background: transparent;
    }

        #menu .pure-menu ul,
        #menu .pure-menu .menu-item-divided {
            border-top: 1px solid #333;
        }

        #menu .pure-menu li a:hover,
        #menu .pure-menu li a:focus {
            background: #333;
        }

    #menu .pure-menu-selected,
    #menu .pure-menu-heading {
        background: #1f8dd6;
    }

        #menu .pure-menu-selected a {
            color: #fff;
        }

    #menu .pure-menu-heading {
        margin: 0;
        color: #fff;
        font-size: 110%;
    }

.menu-link {
    position: fixed;
    top: 0;
    left: 0; 
    z-index: 10;
    display: block; 
    padding: 2.1em 1.6em;
    width: 2em;
    height: auto;
    background: #000;
    background: rgba(0,0,0,0.7);
    font-size: 10px; 
}

.menu-link:hover,
.menu-link:focus {
    background: #000;
}

.menu-link span {
    position: relative;
    display: block;
}

.menu-link span,
.menu-link span:before,
.menu-link span:after {
    width: 100%;
    height: 0.2em;
    background-color: #fff;
}

.menu-link span:before,
.menu-link span:after {
    position: absolute;
    margin-top: -0.6em;
    content: " ";
}

.menu-link span:after {
    margin-top: 0.6em;
}

@media (min-width: 48em) { 
/*    .header,
    .content {
        padding-right: 2em;
        padding-left: 2em;
    }*/

    #layout {
        left: 0;
        padding-left: 150px;
    }

    #menu {
        left: 150px;
    }

    .menu-link {
        position: fixed;
        left: 150px;
        display: none;
    }

    #layout.active .menu-link {
        left: 150px;
    }
}

@media screen and (min-width: 35.5em) { 
    .pure-u-sm-1,
    .pure-u-sm-1-1,
    .pure-u-sm-1-2,
    .pure-u-sm-1-3,
    .pure-u-sm-2-3,
    .pure-u-sm-1-4,
    .pure-u-sm-3-4,
    .pure-u-sm-1-5,
    .pure-u-sm-2-5,
    .pure-u-sm-3-5,
    .pure-u-sm-4-5,
    .pure-u-sm-5-5,
    .pure-u-sm-1-6,
    .pure-u-sm-5-6,
    .pure-u-sm-1-8,
    .pure-u-sm-3-8,
    .pure-u-sm-5-8,
    .pure-u-sm-7-8,
    .pure-u-sm-1-12,
    .pure-u-sm-5-12,
    .pure-u-sm-7-12,
    .pure-u-sm-11-12,
    .pure-u-sm-1-24,
    .pure-u-sm-2-24,
    .pure-u-sm-3-24,
    .pure-u-sm-4-24,
    .pure-u-sm-5-24,
    .pure-u-sm-6-24,
    .pure-u-sm-7-24,
    .pure-u-sm-8-24,
    .pure-u-sm-9-24,
    .pure-u-sm-10-24,
    .pure-u-sm-11-24,
    .pure-u-sm-12-24,
    .pure-u-sm-13-24,
    .pure-u-sm-14-24,
    .pure-u-sm-15-24,
    .pure-u-sm-16-24,
    .pure-u-sm-17-24,
    .pure-u-sm-18-24,
    .pure-u-sm-19-24,
    .pure-u-sm-20-24,
    .pure-u-sm-21-24,
    .pure-u-sm-22-24,
    .pure-u-sm-23-24,
    .pure-u-sm-24-24 {
        display: inline-block;
        vertical-align: top;
        word-spacing: normal;
        letter-spacing: normal;
        zoom: 1;
        *display: inline;
        text-rendering: auto;
    }

    .pure-u-sm-1-24 {
        width: 4.1667%;
        *width: 4.1357%;
    }

    .pure-u-sm-1-12,
    .pure-u-sm-2-24 {
        width: 8.3333%;
        *width: 8.3023%;
    }

    .pure-u-sm-1-8,
    .pure-u-sm-3-24 {
        width: 12.5000%;
        *width: 12.4690%;
    }

    .pure-u-sm-1-6,
    .pure-u-sm-4-24 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    .pure-u-sm-1-5 {
        width: 20%;
        *width: 19.9690%;
    }

    .pure-u-sm-5-24 {
        width: 20.8333%;
        *width: 20.8023%;
    }

    .pure-u-sm-1-4,
    .pure-u-sm-6-24 {
        width: 25%;
        *width: 24.9690%;
    }

    .pure-u-sm-7-24 {
        width: 29.1667%;
        *width: 29.1357%;
    }

    .pure-u-sm-1-3,
    .pure-u-sm-8-24 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    .pure-u-sm-3-8,
    .pure-u-sm-9-24 {
        width: 37.5000%;
        *width: 37.4690%;
    }

    .pure-u-sm-2-5 {
        width: 40%;
        *width: 39.9690%;
    }

    .pure-u-sm-5-12,
    .pure-u-sm-10-24 {
        width: 41.6667%;
        *width: 41.6357%;
    }

    .pure-u-sm-11-24 {
        width: 45.8333%;
        *width: 45.8023%;
    }

    .pure-u-sm-1-2,
    .pure-u-sm-12-24 {
        width: 50%;
        *width: 49.9690%;
    }

    .pure-u-sm-13-24 {
        width: 54.1667%;
        *width: 54.1357%;
    }

    .pure-u-sm-7-12,
    .pure-u-sm-14-24 {
        width: 58.3333%;
        *width: 58.3023%;
    }

    .pure-u-sm-3-5 {
        width: 60%;
        *width: 59.9690%;
    }

    .pure-u-sm-5-8,
    .pure-u-sm-15-24 {
        width: 62.5000%;
        *width: 62.4690%;
    }

    .pure-u-sm-2-3,
    .pure-u-sm-16-24 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    .pure-u-sm-17-24 {
        width: 70.8333%;
        *width: 70.8023%;
    }

    .pure-u-sm-3-4,
    .pure-u-sm-18-24 {
        width: 75%;
        *width: 74.9690%;
    }

    .pure-u-sm-19-24 {
        width: 79.1667%;
        *width: 79.1357%;
    }

    .pure-u-sm-4-5 {
        width: 80%;
        *width: 79.9690%;
    }

    .pure-u-sm-5-6,
    .pure-u-sm-20-24 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    .pure-u-sm-7-8,
    .pure-u-sm-21-24 {
        width: 87.5000%;
        *width: 87.4690%;
    }

    .pure-u-sm-11-12,
    .pure-u-sm-22-24 {
        width: 91.6667%;
        *width: 91.6357%;
    }

    .pure-u-sm-23-24 {
        width: 95.8333%;
        *width: 95.8023%;
    }

    .pure-u-sm-1,
    .pure-u-sm-1-1,
    .pure-u-sm-5-5,
    .pure-u-sm-24-24 {
        width: 100%;
    }
}

@media screen and (min-width: 48em) { 
    .pure-u-med-1,
    .pure-u-med-1-1,
    .pure-u-med-1-2,
    .pure-u-med-1-3,
    .pure-u-med-2-3,
    .pure-u-med-1-4,
    .pure-u-med-3-4,
    .pure-u-med-1-5,
    .pure-u-med-2-5,
    .pure-u-med-3-5,
    .pure-u-med-4-5,
    .pure-u-med-5-5,
    .pure-u-med-1-6,
    .pure-u-med-5-6,
    .pure-u-med-1-8,
    .pure-u-med-3-8,
    .pure-u-med-5-8,
    .pure-u-med-7-8,
    .pure-u-med-1-12,
    .pure-u-med-5-12,
    .pure-u-med-7-12,
    .pure-u-med-11-12,
    .pure-u-med-1-24,
    .pure-u-med-2-24,
    .pure-u-med-3-24,
    .pure-u-med-4-24,
    .pure-u-med-5-24,
    .pure-u-med-6-24,
    .pure-u-med-7-24,
    .pure-u-med-8-24,
    .pure-u-med-9-24,
    .pure-u-med-10-24,
    .pure-u-med-11-24,
    .pure-u-med-12-24,
    .pure-u-med-13-24,
    .pure-u-med-14-24,
    .pure-u-med-15-24,
    .pure-u-med-16-24,
    .pure-u-med-17-24,
    .pure-u-med-18-24,
    .pure-u-med-19-24,
    .pure-u-med-20-24,
    .pure-u-med-21-24,
    .pure-u-med-22-24,
    .pure-u-med-23-24,
    .pure-u-med-24-24 {
        display: inline-block;
        vertical-align: top;
        word-spacing: normal;
        letter-spacing: normal;
        zoom: 1;
        *display: inline;
        text-rendering: auto;
    }

    .pure-u-med-1-24 {
        width: 4.1667%;
        *width: 4.1357%;
    }

    .pure-u-med-1-12,
    .pure-u-med-2-24 {
        width: 8.3333%;
        *width: 8.3023%;
    }

    .pure-u-med-1-8,
    .pure-u-med-3-24 {
        width: 12.5000%;
        *width: 12.4690%;
    }

    .pure-u-med-1-6,
    .pure-u-med-4-24 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    .pure-u-med-1-5 {
        width: 20%;
        *width: 19.9690%;
    }

    .pure-u-med-5-24 {
        width: 20.8333%;
        *width: 20.8023%;
    }

    .pure-u-med-1-4,
    .pure-u-med-6-24 {
        width: 25%;
        *width: 24.9690%;
    }

    .pure-u-med-7-24 {
        width: 29.1667%;
        *width: 29.1357%;
    }

    .pure-u-med-1-3,
    .pure-u-med-8-24 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    .pure-u-med-3-8,
    .pure-u-med-9-24 {
        width: 37.5000%;
        *width: 37.4690%;
    }

    .pure-u-med-2-5 {
        width: 40%;
        *width: 39.9690%;
    }

    .pure-u-med-5-12,
    .pure-u-med-10-24 {
        width: 41.6667%;
        *width: 41.6357%;
    }

    .pure-u-med-11-24 {
        width: 45.8333%;
        *width: 45.8023%;
    }

    .pure-u-med-1-2,
    .pure-u-med-12-24 {
        width: 50%;
        *width: 49.9690%;
    }

    .pure-u-med-13-24 {
        width: 54.1667%;
        *width: 54.1357%;
    }

    .pure-u-med-7-12,
    .pure-u-med-14-24 {
        width: 58.3333%;
        *width: 58.3023%;
    }

    .pure-u-med-3-5 {
        width: 60%;
        *width: 59.9690%;
    }

    .pure-u-med-5-8,
    .pure-u-med-15-24 {
        width: 62.5000%;
        *width: 62.4690%;
    }

    .pure-u-med-2-3,
    .pure-u-med-16-24 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    .pure-u-med-17-24 {
        width: 70.8333%;
        *width: 70.8023%;
    }

    .pure-u-med-3-4,
    .pure-u-med-18-24 {
        width: 75%;
        *width: 74.9690%;
    }

    .pure-u-med-19-24 {
        width: 79.1667%;
        *width: 79.1357%;
    }

    .pure-u-med-4-5 {
        width: 80%;
        *width: 79.9690%;
    }

    .pure-u-med-5-6,
    .pure-u-med-20-24 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    .pure-u-med-7-8,
    .pure-u-med-21-24 {
        width: 87.5000%;
        *width: 87.4690%;
    }

    .pure-u-med-11-12,
    .pure-u-med-22-24 {
        width: 91.6667%;
        *width: 91.6357%;
    }

    .pure-u-med-23-24 {
        width: 95.8333%;
        *width: 95.8023%;
    }

    .pure-u-med-1,
    .pure-u-med-1-1,
    .pure-u-med-5-5,
    .pure-u-med-24-24 {
        width: 100%;
    }
}

@media screen and (min-width: 58em) { 
    .pure-u-lrg-1,
    .pure-u-lrg-1-1,
    .pure-u-lrg-1-2,
    .pure-u-lrg-1-3,
    .pure-u-lrg-2-3,
    .pure-u-lrg-1-4,
    .pure-u-lrg-3-4,
    .pure-u-lrg-1-5,
    .pure-u-lrg-2-5,
    .pure-u-lrg-3-5,
    .pure-u-lrg-4-5,
    .pure-u-lrg-5-5,
    .pure-u-lrg-1-6,
    .pure-u-lrg-5-6,
    .pure-u-lrg-1-8,
    .pure-u-lrg-3-8,
    .pure-u-lrg-5-8,
    .pure-u-lrg-7-8,
    .pure-u-lrg-1-12,
    .pure-u-lrg-5-12,
    .pure-u-lrg-7-12,
    .pure-u-lrg-11-12,
    .pure-u-lrg-1-24,
    .pure-u-lrg-2-24,
    .pure-u-lrg-3-24,
    .pure-u-lrg-4-24,
    .pure-u-lrg-5-24,
    .pure-u-lrg-6-24,
    .pure-u-lrg-7-24,
    .pure-u-lrg-8-24,
    .pure-u-lrg-9-24,
    .pure-u-lrg-10-24,
    .pure-u-lrg-11-24,
    .pure-u-lrg-12-24,
    .pure-u-lrg-13-24,
    .pure-u-lrg-14-24,
    .pure-u-lrg-15-24,
    .pure-u-lrg-16-24,
    .pure-u-lrg-17-24,
    .pure-u-lrg-18-24,
    .pure-u-lrg-19-24,
    .pure-u-lrg-20-24,
    .pure-u-lrg-21-24,
    .pure-u-lrg-22-24,
    .pure-u-lrg-23-24,
    .pure-u-lrg-24-24 {
        display: inline-block;
        vertical-align: top;
        word-spacing: normal;
        letter-spacing: normal;
        zoom: 1;
        *display: inline;
        text-rendering: auto;
    }

    .pure-u-lrg-1-24 {
        width: 4.1667%;
        *width: 4.1357%;
    }

    .pure-u-lrg-1-12,
    .pure-u-lrg-2-24 {
        width: 8.3333%;
        *width: 8.3023%;
    }

    .pure-u-lrg-1-8,
    .pure-u-lrg-3-24 {
        width: 12.5000%;
        *width: 12.4690%;
    }

    .pure-u-lrg-1-6,
    .pure-u-lrg-4-24 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    .pure-u-lrg-1-5 {
        width: 20%;
        *width: 19.9690%;
    }

    .pure-u-lrg-5-24 {
        width: 20.8333%;
        *width: 20.8023%;
    }

    .pure-u-lrg-1-4,
    .pure-u-lrg-6-24 {
        width: 25%;
        *width: 24.9690%;
    }

    .pure-u-lrg-7-24 {
        width: 29.1667%;
        *width: 29.1357%;
    }

    .pure-u-lrg-1-3,
    .pure-u-lrg-8-24 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    .pure-u-lrg-3-8,
    .pure-u-lrg-9-24 {
        width: 37.5000%;
        *width: 37.4690%;
    }

    .pure-u-lrg-2-5 {
        width: 40%;
        *width: 39.9690%;
    }

    .pure-u-lrg-5-12,
    .pure-u-lrg-10-24 {
        width: 41.6667%;
        *width: 41.6357%;
    }

    .pure-u-lrg-11-24 {
        width: 45.8333%;
        *width: 45.8023%;
    }

    .pure-u-lrg-1-2,
    .pure-u-lrg-12-24 {
        width: 50%;
        *width: 49.9690%;
    }

    .pure-u-lrg-13-24 {
        width: 54.1667%;
        *width: 54.1357%;
    }

    .pure-u-lrg-7-12,
    .pure-u-lrg-14-24 {
        width: 58.3333%;
        *width: 58.3023%;
    }

    .pure-u-lrg-3-5 {
        width: 60%;
        *width: 59.9690%;
    }

    .pure-u-lrg-5-8,
    .pure-u-lrg-15-24 {
        width: 62.5000%;
        *width: 62.4690%;
    }

    .pure-u-lrg-2-3,
    .pure-u-lrg-16-24 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    .pure-u-lrg-17-24 {
        width: 70.8333%;
        *width: 70.8023%;
    }

    .pure-u-lrg-3-4,
    .pure-u-lrg-18-24 {
        width: 75%;
        *width: 74.9690%;
    }

    .pure-u-lrg-19-24 {
        width: 79.1667%;
        *width: 79.1357%;
    }

    .pure-u-lrg-4-5 {
        width: 80%;
        *width: 79.9690%;
    }

    .pure-u-lrg-5-6,
    .pure-u-lrg-20-24 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    .pure-u-lrg-7-8,
    .pure-u-lrg-21-24 {
        width: 87.5000%;
        *width: 87.4690%;
    }

    .pure-u-lrg-11-12,
    .pure-u-lrg-22-24 {
        width: 91.6667%;
        *width: 91.6357%;
    }

    .pure-u-lrg-23-24 {
        width: 95.8333%;
        *width: 95.8023%;
    }

    .pure-u-lrg-1,
    .pure-u-lrg-1-1,
    .pure-u-lrg-5-5,
    .pure-u-lrg-24-24 {
        width: 100%;
    }
}

@media screen and (min-width: 75em) { 
    .pure-u-xl-1,
    .pure-u-xl-1-1,
    .pure-u-xl-1-2,
    .pure-u-xl-1-3,
    .pure-u-xl-2-3,
    .pure-u-xl-1-4,
    .pure-u-xl-3-4,
    .pure-u-xl-1-5,
    .pure-u-xl-2-5,
    .pure-u-xl-3-5,
    .pure-u-xl-4-5,
    .pure-u-xl-5-5,
    .pure-u-xl-1-6,
    .pure-u-xl-5-6,
    .pure-u-xl-1-8,
    .pure-u-xl-3-8,
    .pure-u-xl-5-8,
    .pure-u-xl-7-8,
    .pure-u-xl-1-12,
    .pure-u-xl-5-12,
    .pure-u-xl-7-12,
    .pure-u-xl-11-12,
    .pure-u-xl-1-24,
    .pure-u-xl-2-24,
    .pure-u-xl-3-24,
    .pure-u-xl-4-24,
    .pure-u-xl-5-24,
    .pure-u-xl-6-24,
    .pure-u-xl-7-24,
    .pure-u-xl-8-24,
    .pure-u-xl-9-24,
    .pure-u-xl-10-24,
    .pure-u-xl-11-24,
    .pure-u-xl-12-24,
    .pure-u-xl-13-24,
    .pure-u-xl-14-24,
    .pure-u-xl-15-24,
    .pure-u-xl-16-24,
    .pure-u-xl-17-24,
    .pure-u-xl-18-24,
    .pure-u-xl-19-24,
    .pure-u-xl-20-24,
    .pure-u-xl-21-24,
    .pure-u-xl-22-24,
    .pure-u-xl-23-24,
    .pure-u-xl-24-24 {
        display: inline-block;
        vertical-align: top;
        word-spacing: normal;
        letter-spacing: normal;
        zoom: 1;
        *display: inline;
        text-rendering: auto;
    }

    .pure-u-xl-1-24 {
        width: 4.1667%;
        *width: 4.1357%;
    }

    .pure-u-xl-1-12,
    .pure-u-xl-2-24 {
        width: 8.3333%;
        *width: 8.3023%;
    }

    .pure-u-xl-1-8,
    .pure-u-xl-3-24 {
        width: 12.5000%;
        *width: 12.4690%;
    }

    .pure-u-xl-1-6,
    .pure-u-xl-4-24 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    .pure-u-xl-1-5 {
        width: 20%;
        *width: 19.9690%;
    }

    .pure-u-xl-5-24 {
        width: 20.8333%;
        *width: 20.8023%;
    }

    .pure-u-xl-1-4,
    .pure-u-xl-6-24 {
        width: 25%;
        *width: 24.9690%;
    }

    .pure-u-xl-7-24 {
        width: 29.1667%;
        *width: 29.1357%;
    }

    .pure-u-xl-1-3,
    .pure-u-xl-8-24 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    .pure-u-xl-3-8,
    .pure-u-xl-9-24 {
        width: 37.5000%;
        *width: 37.4690%;
    }

    .pure-u-xl-2-5 {
        width: 40%;
        *width: 39.9690%;
    }

    .pure-u-xl-5-12,
    .pure-u-xl-10-24 {
        width: 41.6667%;
        *width: 41.6357%;
    }

    .pure-u-xl-11-24 {
        width: 45.8333%;
        *width: 45.8023%;
    }

    .pure-u-xl-1-2,
    .pure-u-xl-12-24 {
        width: 50%;
        *width: 49.9690%;
    }

    .pure-u-xl-13-24 {
        width: 54.1667%;
        *width: 54.1357%;
    }

    .pure-u-xl-7-12,
    .pure-u-xl-14-24 {
        width: 58.3333%;
        *width: 58.3023%;
    }

    .pure-u-xl-3-5 {
        width: 60%;
        *width: 59.9690%;
    }

    .pure-u-xl-5-8,
    .pure-u-xl-15-24 {
        width: 62.5000%;
        *width: 62.4690%;
    }

    .pure-u-xl-2-3,
    .pure-u-xl-16-24 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    .pure-u-xl-17-24 {
        width: 70.8333%;
        *width: 70.8023%;
    }

    .pure-u-xl-3-4,
    .pure-u-xl-18-24 {
        width: 75%;
        *width: 74.9690%;
    }

    .pure-u-xl-19-24 {
        width: 79.1667%;
        *width: 79.1357%;
    }

    .pure-u-xl-4-5 {
        width: 80%;
        *width: 79.9690%;
    }

    .pure-u-xl-5-6,
    .pure-u-xl-20-24 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    .pure-u-xl-7-8,
    .pure-u-xl-21-24 {
        width: 87.5000%;
        *width: 87.4690%;
    }

    .pure-u-xl-11-12,
    .pure-u-xl-22-24 {
        width: 91.6667%;
        *width: 91.6357%;
    }

    .pure-u-xl-23-24 {
        width: 95.8333%;
        *width: 95.8023%;
    }

    .pure-u-xl-1,
    .pure-u-xl-1-1,
    .pure-u-xl-5-5,
    .pure-u-xl-24-24 {
        width: 100%;
    }
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
   ================================================== */

body {
    color: #7f8c8d;
    font-size: 13px;
    line-height: 1.7em;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #34495e;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

.l-box {
    padding: 1em;
}

.l-box-lrg {
    padding: 2em;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.is-center {
    text-align: center;
}

.pure-form label {
    margin: 1em 0 0;
    font-weight: bold;
    font-size: 100%;
}

.pure-form input[type] {
    margin-bottom: 1em;
    width: 100%;
    border: 2px solid #ddd;
    box-shadow: none;
    font-size: 100%;
}

.pure-button {
    padding: 0.5em 2em;
    border-radius: 5px;
    background-color: #1f8dd6;
    color: white;
}

a.pure-button-primary {
    border-radius: 5px;
    background: white;
    color: #1f8dd6;
    font-size: 120%;
}

.home-menu {
    padding: 0.5em;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
    text-align: center;
}

.home-menu.pure-menu-open {
    background: #2d3e50;
}

.pure-menu.pure-menu-open.pure-menu-fixed {
    z-index: 4;
    border-bottom: none;
}

.home-menu .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%;
}

.home-menu .pure-menu-selected a {
    color: white;
}

.home-menu a {
    color: #6FBEF3;
}

.home-menu li a:hover,
.home-menu li a:focus {
    border: none;
    background: none;
    color: #AECFE5;
}

.splash-container {
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: 88%;
    background: #1f8dd6;
}

.splash {
    position: absolute;
    top: 100px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 80%;
    height: 50%;
    text-align: center;
    text-transform: uppercase;
}

.splash-head {
    padding: 1em 1.6em;
    border: 3px solid white;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-weight: 100;
    font-size: 20px;
    line-height: 1em;
}

.splash-subhead {
    color: white;
    letter-spacing: 0.05em;
    opacity: 0.8;
}

.content-wrapper {
    position: absolute;
    top: 87%;
    z-index: 2;
    min-height: 12%;
    width: 100%;
    background: white;
}

.content-head {
    margin: 2em 0 1em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 400;
}

.content-head-ribbon {
    color: white;
}

.content-subhead {
    color: #1f8dd6;
}

    .content-subhead i {
        margin-right: 7px;
    }

.ribbon {
    background: #2d3e50;
    color: #aaa;
}

.footer {
    background: #111;
}

@media (min-width: 48em) { 

    body {
        font-size: 16px;
    }

/*    .content {
        padding: 1em;
    }*/

    .home-menu {
        text-align: left;
    }

        .home-menu ul {
            float: right;
        }

    .splash {
        width: 50%;
        height: 50%;
    }

    .splash-head {
        font-size: 250%;
    }

    .l-box-lrg {
        border: none;
    }
}

@media (min-width: 78em) { 

    .splash-head {
        font-size: 300%;
    }
}