<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if page.title %}
    <title>{{ page.title }}</title>
    {% else %}
    <title>{{ site.name }}</title>
    {% endif %}
    <link rel="stylesheet" href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> 
    <link rel="stylesheet" href="/css/font-awesome.css" type="text/css">       
    <link rel="stylesheet" href="/css/style.css" type="text/css">       
</head>
<body class="pure-hybrid" id="layout">
    <a href="#menu" id="menuLink" class="menu-link">
        <span></span>
    </a>    
    <div id="menu" class="combo-respond-left">
        <div class="pure-menu pure-menu-open">
            <a class="pure-menu-heading" href="https://github.com/jvrunion"><i class="fa fa-github"></i> GitHub</a>
            <ul>
                <li>
                    <a class="active" href="/index.html">
                     <i class="fa fa-tachometer"></i>
                     Dashboard
                 </a>
             </li>
             <li>
                <a href="#">
                    <i class="fa fa-laptop"></i>
                    Expertise
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-google-plus-square"></i>
                    Gmail
                </a>
            </li>
            <li>
                <a href="http://www.linkedin.com/profile/view?id=21370944&trk=nav_responsive_tab_profile">
                    <i class="fa fa-linkedin-square"></i>
                    LinkedIn  
                </a>                              
            </li>
        </ul>
    </div>
</div>
<div class="hybrid-no-left-panel">
    <i class="fa fa-chevron-down"></i>
</div>  
{{ content }} <!--/content block-->  
<footer>
    <div class="footer-toggle-control">
        <h3 class="social-shout-out is-center">
            <i class="fa fa-chevron-up"></i>
            Social
        </h3>    
    </div>
    <ul class="footer-list">
        <li>
            <a href="mailto:jvrunion@gmail.com"><i class="fa fa-google-plus-square"></i></a>
        </li>
        <li>
            <a href="https://twitter.com/dc_coder"><i class="fa fa-twitter"></i></a>
        </li>
        <li>
            <a href="https://github.com/jvrunion"><i class="fa fa-github"></i></a>
        </li>
        <li>
            <a href="https://www.behance.net/jvrunion"><i class="fa fa-desktop"></i></a>
        </li>
    </ul>
</footer>   
</body>
<script src="/bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
<script src="/js/pure-responsive.js" type="text/javascript"></script> <!--/script load--> 
</html>
